[{:place "the-block-museum-of-art"
  :name "The Block Museum of Art"
  :city "Evanston"
  :map-url "https://maps.app.goo.gl/WLLi7kpfVpyDGC6h6"
  :latitude "42.052457202814125"
  :state "Illinois"
  :notes "Calendar entries: Leon Golub @ the Block."
  :website "http://www.blockmuseum.northwestern.edu/"
  :longitude "-87.67264602960363"
  :timestamp "2010-09-29T00:00:00Z"
  :country "United States"}]
