[{:place "tenno-sushi",
 :name "Tenno Sushi",
 :city "Los Angeles",
 :state "California",
 :country "United States of America",
 :latitude "34.047487996371274",
 :longitude "-118.23967785952304",
 :map-url "https://maps.app.goo.gl/8TYNrmPSvHRDpbt26",
 :website "http://www.tennosushi.com/ "}
{:place "tcl-chinese-theatre",
 :name "TCL Chinese Theatre",
 :city "Hollywood",
 :state "California",
 :country "United States of America",
 :latitude "34.10215635856023",
 :longitude "-118.34104630185126",
 :map-url "https://maps.app.goo.gl/nPJURPUappd92cCL9",
 :website "https://www.tclchinesetheatres.com/"}
{:place "urth-caffe",
 :name "Urth Caffe",
 :city "Los Angeles",
 :state "California",
 :country "United States of America",
 :latitude "34.0422292353011",
 :longitude "-118.23548235767177",
 :map-url "https://maps.app.goo.gl/m5paUzAn7EgVX1d1A",
 :website "https://www.urthcaffe.com/"}
{:place "the-museum-of-contemporary-art-los-angeles",
 :name "The Museum of Contemporary Art",
 :city "Los Angeles",
 :state "California",
 :country "United States of America",
 :latitude "34.053378739244714",
 :longitude "-118.25047140633787",
 :map-url "https://maps.app.goo.gl/x3ogHfngbyN3ZHbm9",
 :website "https://www.moca.org/"}
{:place "cranes-bar-downtown",
 :name "Crane's Bar Downtown",
 :city "Los Angeles",
 :state "California",
 :country "United States of America",
 :latitude "34.043192864542775",
 :longitude "-118.25380957301533",
 :map-url "https://maps.app.goo.gl/CxLx4zzFCfjSzJPr5 "}
{:place "seven-grand",
 :name "Seven Grand",
 :city "Los Angeles",
 :state "California",
 :country "United States of America",
 :latitude "34.04716973477263",
 :longitude "-118.25593359999998",
 :map-url "https://maps.app.goo.gl/9RnPDuQMoHda2jRp8",
 :website "http://sevengrandbars.com/la "}
{:place "the-last-bookstore",
 :name "The Last Bookstore",
 :city "Los Angeles",
 :state "California",
 :country "United States of America",
 :latitude "34.047838633650606",
 :longitude "-118.24989640000001",
 :map-url "https://maps.app.goo.gl/adUWj3PDSE3XFCTA6",
 :website "https://www.lastbookstorela.com/"}
{:place "los-angeles-county-museum-of-art",
 :name "Los Angeles County Museum of Art",
 :city "Los Angeles",
 :state "California",
 :country "United States of America",
 :latitude "34.06414558267825",
 :longitude "-118.3591542010664",
 :map-url "https://maps.app.goo.gl/ULg9GTMzqiehfhXZ7",
 :website "https://www.lacma.org/"}]
