[{:place "la-barriera-trattoria",
  :name "La Barriera Trattoria",
  :city "Turin",
  :osm-id "8044412299",
  :osm-type "node",
  :longitude "7.7007961",
  :state "Piedmont",
  :notes "Small and cozy with great food reviews.",
  :osm-url "https://www.openstreetmap.org/node/8044412299",
  :latitude "45.0851302",
  :country "Italy"}
 {:place "pastificio-ferri",
  :name "Pastificio Ferri",
  :city "Turin",
  :longitude "7.6956396",
  :state "Piedmont",
  :notes "A little expensive but a high-quality gastronomia",
  :website "https://www.ferrifood.it/index.php/servizi",
  :latitude "45.0954397",
  :country "Italy",
  :rating 5}
 {:place "o-sfizio-e-masaniello",
  :name "O'Sfizio e Masaniello",
  :city "Turin",
  :osm-id "2923386028",
  :osm-type "node",
  :longitude "7.7066530",
  :state "Piedmont",
  :search-hint "Masaniello Torino",
  :notes "Pizza. Looks good if you ever need it.",
  :osm-url "https://www.openstreetmap.org/node/2923386028",
  :website "https://osfizioemasaniello.business.site",
  :latitude "45.0897121",
  :country "Italy"}
 {:place "ivo1958-ristorante",
  :phone "+39 011 852806",
  :name "Ivo1958 Ristorante",
  :city "Turin",
  :longitude "7.6979714",
  :state "Piedmont",
  :search-hint "Da Ivo Torino",
  :notes "Good reviews, food looks good.",
  :osm-url "https://www.openstreetmap.org/node/7997556622",
  :website "http://ivo1958.it",
  :latitude "45.0831116",
  :country "Italy"}
 {:place "via-baltea-cultural-center",
  :name "Via Baltea Cultural Center",
  :city "Turin",
  :longitude "7.6930809",
  :state "Piedmont",
  :notes
  "Cultural center in Barriera di Milano. Incredible vibes. Above average vegitarian food.",
  :osm-url "https://www.openstreetmap.org/way/253435093",
  :website "https://www.viabaltea.it/",
  :latitude "45.0904445",
  :country "Italy",
  :rating 5}
 {:place "bagni-pubblici-di-via-aglie",
  :name "Bagni Pubblici di via Agliè",
  :city "Turin",
  :osm-id "325525163",
  :osm-type "way",
  :longitude "7.6925718",
  :state "Piedmont",
  :notes "La casa del Quartiere di Barriera di Milano.",
  :osm-url "https://www.openstreetmap.org/way/325525163",
  :website "https://bagnipubblici.wordpress.com/",
  :latitude "45.0881966",
  :country "Italy"}
 {:place "la-grande-muraglia",
  :name "La Grande Muraglia",
  :city "Turin",
  :osm-id "4733630949",
  :osm-type "node",
  :longitude "7.6870031",
  :state "Piedmont",
  :place-type "chinese",
  :search-hint "Grande Muraglia Torino",
  :notes "Chinese restaurant.",
  :osm-url "https://www.openstreetmap.org/node/4733630949",
  :latitude "45.0833225",
  :country "Italy"}
 {:place "via-simone",
  :name "Via Simone",
  :city "Turin",
  :osm-id "166616613",
  :osm-type "way",
  :longitude "7.6840102",
  :state "Piedmont",
  :notes "Good vegan restaurant.",
  :osm-url "https://www.openstreetmap.org/way/166616613",
  :website "https://feroza.it/",
  :latitude "45.0790319",
  :country "Italy"}
 {:place "panificio-papale",
  :name "Panificio Papale",
  :city "Turin",
  :osm-id "3440590424",
  :osm-type "node",
  :longitude "7.6829006",
  :state "Piedmont",
  :notes "Bakery and specialty coffee in San Salvario.",
  :osm-url "https://www.openstreetmap.org/node/3440590424",
  :latitude "45.0583825",
  :country "Italy"}
 {:place "cartoccio",
  :name "Cartoccio",
  :city "Turin",
  :osm-id "10802670657",
  :osm-type "node",
  :longitude "7.6459441",
  :state "Piedmont",
  :notes "Pub. Milwaukee airport bar vibes.",
  :osm-url "https://www.openstreetmap.org/node/10802670657",
  :website "https://www.facebook.com/thebetterbeer/",
  :latitude "45.0784864",
  :rating 3
  :country "Italy"}
 {:place "bar-cavour",
  :phone "+39 011 19211270",
  :name "Bar Cavour Del Cambio",
  :city "Turin",
  :osm-id "4736052792",
  :osm-type "node",
  :longitude "7.6849443",
  :state "Piedmont",
  :opening-hours "Tu-Su 19:00-24:00",
  :osm-url "https://www.openstreetmap.org/node/4736052792",
  :website "https://delcambio.it/it/bar-cavour/home",
  :latitude "45.0695715",
  :country "Italy"}
 {:place "trattoria-la-campagnola",
  :name "Trattoria La Campagnola",
  :city "Turin",
  :osm-id "9891576428",
  :osm-type "node",
  :longitude "7.6704088",
  :state "Piedmont",
  :place-type "italian",
  :osm-url "https://www.openstreetmap.org/node/9891576428",
  :website
  "https://turismo.unionevallesacra.to.it/ricettivit%C3%A0/trattoria-la-campagnola/",
  :latitude "45.0737634",
  :country "Italy"}
 {:place "gastropasticceria-scaiola",
  :name "Gastropasticceria Scaiola",
  :city "Turin",
  :osm-id "4735666893",
  :osm-type "node",
  :longitude "7.6558803",
  :state "Piedmont",
  :search-hint "Scaiola Torino",
  :osm-url "https://www.openstreetmap.org/node/4735666893",
  :website "https://gastropasticceriascaiola.it/",
  :latitude "45.0549677",
  :country "Italy",
  :rating 5}
 {:place "scannabue",
  :phone "+39 390 116696693",
  :name "Scannabue",
  :city "Turin",
  :longitude "7.6791005",
  :state "Piedmont",
  :place-type "italian",
  :opening-hours "Mo-Su 12:15-14:15,19:30-22:30",
  :notes
  "Classic Piedmontese comfort food — tajarin and local wines in a homey, lively environment.",
  :osm-url "https://www.openstreetmap.org/node/2585235757",
  :website "https://www.scannabue.it/en/home-english/",
  :latitude "45.0583376",
  :country "Italy"}
 {:place "pasticceria-ghigo",
  :phone "+39 011 887017",
  :name "Pasticceria Ghigo dal 1870",
  :city "Turin",
  :longitude "7.6933105",
  :state "Piedmont",
  :search-hint "Ghigo Torino",
  :opening-hours "Mo-Su 07:30-20:00",
  :rating 5,
  :notes
  "Old-fashioned pastry shop. Thick hot chocolate at the counter.",
  :osm-url "https://www.openstreetmap.org/node/4736054553",
  :website "https://www.pasticceriaghigo.it/IT/",
  :latitude "45.0659631",
  :country "Italy"}
 {:place "isola",
  :name "Isola",
  :city "Turin",
  :osm-id "5150610847",
  :osm-type "node",
  :longitude "7.6803726",
  :state "Piedmont",
  :search-hint "Isola bar Torino",
  :notes
  "Bar with vinyl albums and natural wines, all for sale to enjoy on site or at home.",
  :osm-url "https://www.openstreetmap.org/node/5150610847",
  :website "https://www.instagram.com/isola_torino/",
  :latitude "45.0598824",
  :country "Italy"}
 {:place "la-cuite",
  :phone "+39 329 0899255",
  :name "La Cuite",
  :city "Turin",
  :longitude "7.6802371",
  :state "Piedmont",
  :place-type "tapas",
  :notes "Cozy bar with regional wines by a wood-burning fireplace.",
  :osm-url "https://www.openstreetmap.org/node/3445249600",
  :website "https://web.facebook.com/LaCuite",
  :latitude "45.0579647",
  :country "Italy"}
 ;;;
 {:place "green-tips",
  :name "Green Tips",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :search-hint "Green Tips Torino",
  :notes "Vegan restaurant."}
 {:place "controvento-gastronomia",
  :name "Controvento Gastronomia",
  :city "Turin",
  :website "https://it-it.facebook.com/GastronomiaArtigianaControvento/",
  :state "Piedmont",
  :country "Italy",
  :search-hint "Controvento Torino"}
 {:place "ola-coffee-club",
  :name "Ola Coffee Club",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :search-hint "Ola Coffee Torino",
  :notes "Great pastries."}
  {:place "la-tana",
  :name "La Tana dei Tre Torino",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :notes "Piedmontesi",
   :website "https://latanadeitre.com"}
  {:place "bar-marcone",
  :name "Bar Marcone",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :search-hint "Marcone Torino",
   :notes "Great vibes happy cafe. Mid-day aperitivo on Saturday."}
 {:place "grande-muraglia",
  :name "Grande Muraglia",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :notes "Chinese restaurant in Barriera di Milano recommended by Nacho."}
 {:place "dong-oriental-experience",
  :name "Dong Oriental Experience",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :search-hint "Dong Torino",
  :website "https://dongorientalexperiencemenu.qromo.it/"}
  {:place "ombrellificio",
  :name "Ombrellificio",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :search-hint "Ombrellificio Torino",
  :website "https://ombrelli.it/"}]
