[{:place "isola",
  :name "Isola",
  :city "Turin",
  :longitude "7.6803726",
  :state "Piedmont",
  :search-hint "Isola bar Torino",
  :notes
  "Bar with vinyl albums and natural wines, all for sale to enjoy on site or at home.",
  :osm-url "https://www.openstreetmap.org/node/5150610847",
  :website "https://www.instagram.com/isola_torino/",
  :latitude "45.0598824",
  :country "Italy"}
 {:place "gastropasticceria-scaiola",
  :name "Gastropasticceria Scaiola",
  :city "Turin",
  :longitude "7.6558803",
  :state "Piedmont",
  :search-hint "Scaiola Torino",
  :osm-url "https://www.openstreetmap.org/node/4735666893",
  :website "https://gastropasticceriascaiola.it/",
  :latitude "45.0549677",
  :country "Italy",
  :rating 5}
 {:place "pasticceria-ghigo",
  :phone "+39 011 887017",
  :name "Pasticceria Ghigo dal 1870",
  :city "Turin",
  :longitude "7.6933105",
  :state "Piedmont",
  :search-hint "Ghigo Torino",
  :notes
  "Old-fashioned pastry shop. Thick hot chocolate at the counter.",
  :osm-url "https://www.openstreetmap.org/node/4736054553",
  :website "https://www.pasticceriaghigo.it/IT/",
  :latitude "45.0659631",
  :country "Italy",
  :rating 5}
 {:place "la-barriera-trattoria",
  :name "La Barriera Trattoria",
  :city "Turin",
  :longitude "7.7007961",
  :state "Piedmont",
  :notes "Small and cozy with great food reviews.",
  :osm-url "https://www.openstreetmap.org/node/8044412299",
  :latitude "45.0851302",
  :country "Italy"}
 {:place "cocos",
  :name "Coco's",
  :city "Turin",
  :longitude "7.6849432",
  :state "Piedmont",
  :notes "Nice piola.",
  :osm-url "https://www.openstreetmap.org/node/5428809625",
  :latitude "45.0587095",
  :country "Italy"}
 {:place "du-cesari",
  :phone "+39 011 484430",
  :name "Du Cesari",
  :city "Turin",
  :longitude "7.6615129",
  :state "Piedmont",
  :place-type "regional;italian",
  :search-hint "Du Cesari Torino",
  :notes "Roman cuisine. Cit Turin.",
  :osm-url "https://www.openstreetmap.org/node/4734143602",
  :website "https://ducesari.it/",
  :latitude "45.0842736",
  :country "Italy"}
 {:place "ristorante-mood",
  :phone "+39 011 4378186",
  :name "Ristorante Mood",
  :city "Turin",
  :longitude "7.6595296",
  :state "Piedmont",
  :place-type "asian;chinese",
  :search-hint "Ristorante Mood Torino",
  :notes "San Donato.",
  :osm-url "https://www.openstreetmap.org/node/7980442082",
  :latitude "45.0802999",
  :country "Italy"}
 {:place "via-baltea-cultural-center",
  :name "Via Baltea Cultural Center",
  :city "Turin",
  :longitude "7.6930809",
  :state "Piedmont",
  :notes
  "Cultural center in Barriera di Milano. Incredible vibes. Above average vegitarian food.",
  :osm-url "https://www.openstreetmap.org/way/253435093",
  :website "https://www.viabaltea.it/",
  :latitude "45.0904445",
  :country "Italy",
  :rating 5}
 {:place "da-celso",
  :name "Da Celso",
  :city "Turin",
  :longitude "7.6473156",
  :state "Piedmont",
  :notes "Nice piola.",
  :osm-url "https://www.openstreetmap.org/node/5610327621",
  :latitude "45.0669239",
  :country "Italy"}
 {:place "beerba",
  :name "Beerba",
  :city "Turin",
  :longitude "7.6813138",
  :state "Piedmont",
  :search-hint "Beerba Torino",
  :notes "Apericena.",
  :osm-url "https://www.openstreetmap.org/node/5610260021",
  :latitude "45.0593255",
  :country "Italy"}
 {:place "da-varsa-la-capanna-dei-nonni",
  :name "Da Varsa La Capanna Dei Nonni",
  :city "Turin",
  :longitude "7.6979249",
  :state "Piedmont",
  :search-hint "Capanna dei Nonni Torino",
  :osm-url "https://www.openstreetmap.org/node/10707403825",
  :latitude "45.0705266",
  :country "Italy"}
 {:place "panificio-papale",
  :name "Panificio Papale",
  :city "Turin",
  :longitude "7.6829006",
  :state "Piedmont",
  :notes "Bakery and specialty coffee in San Salvario.",
  :osm-url "https://www.openstreetmap.org/node/3440590424",
  :latitude "45.0583825",
  :country "Italy"}
 {:place "scannabue",
  :phone "+39 390 116696693",
  :name "Scannabue",
  :city "Turin",
  :longitude "7.6791005",
  :state "Piedmont",
  :place-type "italian",
  :notes
  "Classic Piedmontese comfort food — tajarin and local wines in a homey, lively environment.",
  :osm-url "https://www.openstreetmap.org/node/2585235757",
  :website "https://www.scannabue.it/en/home-english/",
  :latitude "45.0583376",
  :country "Italy"}
 {:place "la-terrasanta",
  :name "La Terrasanta",
  :city "Turin",
  :longitude "7.6788700",
  :state "Piedmont",
  :search-hint "Terrasanta Torino",
  :notes "Falafel.",
  :osm-url "https://www.openstreetmap.org/node/13599257751",
  :latitude "45.0517567",
  :country "Italy"}
 {:place "le-papille",
  :name "Le Papille",
  :city "Turin",
  :longitude "7.6630485",
  :state "Piedmont",
  :search-hint "Le Papille Torino",
  :notes
  "Cit Turin. Sweet and savory breakfast, buffet lunch, cakes and coffee, aperitif, and dinner. Popular Sunday brunch spot.",
  :osm-url "https://www.openstreetmap.org/node/4734763369",
  :latitude "45.0740994",
  :country "Italy"}
 {:place "kokoroya",
  :name "Kokoroya",
  :city "Turin",
  :longitude "7.6757920",
  :state "Piedmont",
  :place-type "japanese",
  :search-hint "Kokoroya Torino",
  :notes "Best ramen in Turin? Japanese.",
  :osm-url "https://www.openstreetmap.org/node/4736079359",
  :latitude "45.0759337",
  :country "Italy"}
 {:place "osteria-antiche-sere",
  :phone "+39 011 3854347",
  :name "Osteria Antiche Sere",
  :city "Turin",
  :longitude "7.6428825",
  :state "Piedmont",
  :place-type "piedmontese;italian",
  :search-hint "Antiche Sere Torino",
  :notes
  "Cenisia. Very typical Turinese, high quality, reasonable prices. Visited twice.",
  :osm-url "https://www.openstreetmap.org/node/4497042267",
  :latitude "45.0709845",
  :country "Italy"}
 {:place "la-grande-muraglia",
  :name "La Grande Muraglia",
  :city "Turin",
  :longitude "7.6870031",
  :state "Piedmont",
  :place-type "chinese",
  :search-hint "Grande Muraglia Torino",
  :notes
  "Chinese restaurant in Barriera di Milano recommended by Nacho.",
  :osm-url "https://www.openstreetmap.org/node/4733630949",
  :latitude "45.0833225",
  :country "Italy"}
 {:place "o-sfizio-e-masaniello",
  :name "O'Sfizio e Masaniello",
  :city "Turin",
  :longitude "7.7066530",
  :state "Piedmont",
  :search-hint "Masaniello Torino",
  :notes "Pizza. Looks good if you ever need it.",
  :osm-url "https://www.openstreetmap.org/node/2923386028",
  :website "https://osfizioemasaniello.business.site",
  :latitude "45.0897121",
  :country "Italy"}
 {:place "saraceno",
  :name "Saraceno",
  :city "Turin",
  :longitude "7.6871210",
  :state "Piedmont",
  :search-hint "Saraceno Torino",
  :notes "Pizza.",
  :osm-url "https://www.openstreetmap.org/node/4733628223",
  :latitude "45.0763670",
  :country "Italy"}
 {:place "gaudenzio-vino-e-cucina",
  :name "Gaudenzio Vino e Cucina",
  :city "Turin",
  :longitude "7.6919350",
  :state "Piedmont",
  :notes "Near the Mole, Vanchiglia area.",
  :osm-url "https://www.openstreetmap.org/node/5338886121",
  :website "https://www.gaudenziovinoecucina.it/",
  :latitude "45.0697416",
  :country "Italy"}
 {:place "osteria-oca-fola",
  :phone "+39 011 433 7422",
  :name "Osteria Oca Fola",
  :city "Turin",
  :longitude "7.6662467",
  :state "Piedmont",
  :place-type "italian;regional",
  :search-hint "Oca Fola Torino",
  :notes "Quadrilatero. Traditional Turinese cuisine.",
  :osm-url "https://www.openstreetmap.org/node/2700452166",
  :website "https://www.ocafola.it/",
  :latitude "45.0754280",
  :country "Italy"}
 {:place "tre-galline",
  :name "Tre Galline",
  :city "Turin",
  :longitude "7.6818547",
  :state "Piedmont",
  :notes "Michelin.",
  :osm-url "https://www.openstreetmap.org/node/4406587089",
  :website "https://3galline.it/site/en/",
  :latitude "45.0759789",
  :country "Italy"}
 {:place "la-cuite",
  :phone "+39 329 0899255",
  :name "La Cuite",
  :city "Turin",
  :longitude "7.6802371",
  :state "Piedmont",
  :place-type "tapas",
  :notes "Cozy bar with regional wines by a wood-burning fireplace.",
  :osm-url "https://www.openstreetmap.org/node/3445249600",
  :website "https://web.facebook.com/LaCuite",
  :latitude "45.0579647",
  :country "Italy"}
 {:place "cartoccio",
  :name "Cartoccio",
  :city "Turin",
  :longitude "7.6459441",
  :state "Piedmont",
  :notes "Pub. Milwaukee airport bar vibes.",
  :osm-url "https://www.openstreetmap.org/node/10802670657",
  :website "https://www.facebook.com/thebetterbeer/",
  :latitude "45.0784864",
  :country "Italy",
  :rating 3}
 {:place "osteria-del-balon",
  :name "Osteria Del Balon",
  :city "Turin",
  :longitude "7.6840008",
  :state "Piedmont",
  :search-hint "Osteria Balon Torino",
  :notes "Near the Balon market.",
  :osm-url "https://www.openstreetmap.org/node/4518486073",
  :latitude "45.0802138",
  :country "Italy"}
 {:place "mar-rosso",
  :phone "+39 347 1439202",
  :name "Mar Rosso",
  :city "Turin",
  :longitude "7.6826295",
  :state "Piedmont",
  :place-type "african",
  :notes
  "San Salvario. African restaurant and cafe. Via Silvio Pellico 13/E.",
  :osm-url "https://www.openstreetmap.org/node/1244536732",
  :website "https://www.marrossotorino.com/",
  :latitude "45.0578969",
  :country "Italy"}
 {:place "bagni-pubblici-di-via-aglie",
  :name "Bagni Pubblici di via Agliè",
  :city "Turin",
  :longitude "7.6925718",
  :state "Piedmont",
  :notes "La casa del Quartiere di Barriera di Milano.",
  :osm-url "https://www.openstreetmap.org/way/325525163",
  :website "https://bagnipubblici.wordpress.com/",
  :latitude "45.0881966",
  :country "Italy"}
 {:place "i-valenza",
  :name "I Valenza",
  :city "Turin",
  :longitude "7.6672733",
  :state "Piedmont",
  :notes "Nice piola.",
  :osm-url "https://www.openstreetmap.org/way/193440714",
  :latitude "45.0245402",
  :country "Italy"}
 {:place "lanificio-san-salvatore",
  :phone "+39 011 0867568",
  :name "Lanificio San Salvatore",
  :city "Turin",
  :longitude "7.6804207",
  :state "Piedmont",
  :place-type "tapas",
  :notes
  "San Salvario. Former wool shop with eccentric decor. Famous Sunday brunch.",
  :osm-url "https://www.openstreetmap.org/node/4735826316",
  :website "https://www.lanificiosansalvatore.it/",
  :latitude "45.0576686",
  :country "Italy"}
 {:place "bar-cavour",
  :phone "+39 011 19211270",
  :name "Bar Cavour Del Cambio",
  :city "Turin",
  :longitude "7.6849443",
  :state "Piedmont",
  :osm-url "https://www.openstreetmap.org/node/4736052792",
  :website "https://delcambio.it/it/bar-cavour/home",
  :latitude "45.0695715",
  :country "Italy"}
 {:place "mai-thai",
  :name "Mai Thai",
  :city "Turin",
  :longitude "7.6638238",
  :state "Piedmont",
  :place-type "thai",
  :search-hint "Mai Thai Torino",
  :notes "Thai restaurant.",
  :osm-url "https://www.openstreetmap.org/node/12066084015",
  :latitude "45.0741954",
  :country "Italy"}
 {:place "mu-bao",
  :name "Mu Bao",
  :city "Turin",
  :longitude "7.6855456",
  :state "Piedmont",
  :place-type "chinese;dumplings",
  :search-hint "Mu Bao Torino",
  :notes "Fast steamed buns.",
  :osm-url "https://www.openstreetmap.org/node/4736058131",
  :latitude "45.0698840",
  :country "Italy"}
 {:place "soul-kitchen",
  :name "Soul Kitchen",
  :city "Turin",
  :longitude "7.6925726",
  :state "Piedmont",
  :search-hint "Soul Kitchen Torino",
  :osm-url "https://www.openstreetmap.org/node/4735867419",
  :latitude "45.0727880",
  :country "Italy"}
 {:place "le-vitel-etonne",
  :name "Le Vitel Etonné",
  :city "Turin",
  :longitude "7.6887287",
  :state "Piedmont",
  :notes "City centre. Piedmontese cuisine. Sells homemade pasta too.",
  :osm-url "https://www.openstreetmap.org/node/4463223393",
  :website "https://leviteletonne.com/",
  :latitude "45.0682331",
  :country "Italy"}
 {:place "shizen",
  :name "Shizen",
  :city "Turin",
  :longitude "7.6970253",
  :state "Piedmont",
  :place-type "japanese",
  :osm-url "https://www.openstreetmap.org/node/11343197160",
  :website "https://www.shizen.it/",
  :latitude "45.0549599",
  :country "Italy",
  :rating 4}
 {:place "trattoria-la-campagnola",
  :name "Trattoria La Campagnola",
  :city "Turin",
  :longitude "7.6704088",
  :state "Piedmont",
  :place-type "italian",
  :osm-url "https://www.openstreetmap.org/node/9891576428",
  :website
  "https://turismo.unionevallesacra.to.it/ricettivit%C3%A0/trattoria-la-campagnola/",
  :latitude "45.0737634",
  :country "Italy"}
 {:place "ivo1958-ristorante",
  :phone "+39 011 852806",
  :name "Ivo1958 Ristorante",
  :city "Turin",
  :longitude "7.6979714",
  :state "Piedmont",
  :search-hint "Da Ivo Torino",
  :notes "Good reviews, food looks good.",
  :osm-url "https://www.openstreetmap.org/node/7997556622",
  :website "http://ivo1958.it",
  :latitude "45.0831116",
  :country "Italy"}
 {:place "da-zero",
  :name "Da Zero",
  :city "Turin",
  :longitude "7.6732881",
  :state "Piedmont",
  :search-hint "Da Zero Torino",
  :notes "Pizza. Near city centre.",
  :osm-url "https://www.openstreetmap.org/node/12837035101",
  :website "http://dazero.org",
  :latitude "45.0770668",
  :country "Italy"}
 {:place "pastificio-ferri",
  :name "Pastificio Ferri",
  :city "Turin",
  :longitude "7.6956396",
  :state "Piedmont",
  :notes "A little expensive but a high-quality gastronomia",
  :website "https://www.ferrifood.it/index.php/servizi",
  :latitude "45.0954397",
  :country "Italy",
  :rating 5}
 {:place "piola-da-cianci",
  :phone "+39 011 569 0425",
  :name "Piola da Cianci",
  :city "Turin",
  :longitude "7.6829235",
  :state "Piedmont",
  :search-hint "Cianci Torino",
  :notes "Quadrilatero. Affordable prices and great food.",
  :osm-url "https://www.openstreetmap.org/node/5610302928",
  :website "https://www.ciancipiola.it/",
  :latitude "45.0733158",
  :country "Italy"}
 {:place "miyabi",
  :name "Ristorante Giapponese Miyabi",
  :city "Turin",
  :longitude "7.6820773",
  :state "Piedmont",
  :place-type "chinese;japanese",
  :search-hint "Miyabi Torino",
  :osm-url "https://www.openstreetmap.org/node/5170883666",
  :website "http://www.miyabitorino.com/",
  :latitude "45.0894522",
  :country "Italy"}
 {:place "palto",
  :name "Paltò",
  :city "Turin",
  :longitude "7.6928035",
  :state "Piedmont",
  :notes "Wine bar and kitchen. Via della Rocca 17.",
  :website "https://paltotorino.it/",
  :latitude "45.0633487",
  :country "Italy"}
 {:place "bar-marcone",
  :name "Bar Marcone",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :latitude "45.0641435",
  :longitude "7.6274109",
  :notes "Great vibes happy/gay cafe. Mid-day aperitivo on Saturday."}
 {:place "origen-peruano",
  :name "Origen Peruano Resto Bar",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :latitude "45.0760585",
  :longitude "7.6848720",
  :notes "Peruvian. Corso Regina Margherita, 115."}
 {:place "caffe-dell-orologio",
  :name "Caffè dell'Orologio",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :latitude "45.0542803",
  :longitude "7.6786456",
  :notes
  "San Salvario, Via Oddino Morgari 16. Great for early dinner."}
 {:place "green-tips",
  :name "Green Tips",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :latitude "45.0331479",
  :longitude "7.6719765",
  :notes "Vegan restaurant. Via Ventimiglia, near Lingotto metro."}
 {:place "ola-coffee-club",
  :name "Ola Coffee Club",
  :city "Turin",
  :longitude "7.6822189",
  :state "Piedmont",
  :rating 5,
  :notes
  "Quadrilatero. Via San Tommaso 6. Specialty coffee and great pastries.",
  :website "https://olacoffeeclub.com/",
  :latitude "45.0716256",
  :country "Italy"}
 {:place "la-tana",
  :phone "+39 011 436 7183",
  :name "La Tana dei Tre",
  :city "Turin",
  :longitude "7.6830078",
  :state "Piedmont",
  :notes
  "Piedmontese. Intimate (18 seats), Balon neighbourhood. Via Canale Molassi 18/E.",
  :website "https://latanadeitre.com",
  :latitude "45.0790799",
  :country "Italy"}
 {:place "lao",
  :name "Lao",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :rating 4,
  :latitude "45.0723502",
  :longitude "7.6791188",
  :notes "Chinese restaurant."}
 {:place "a-la-volee",
  :name "À La Volée",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :companions "Felipe",
  :latitude "45.0578981",
  :longitude "7.6822284",
  :rating 4,
  :notes "Wine bar in San Salvario. Fresh mozzarella Wednesdays. Via Silvio Pellico 12/A."}
 {:place "ristorante-consorzio",
  :name "Ristorante Consorzio",
  :city "Turin",
  :longitude "7.6793467",
  :state "Piedmont",
  :notes "Centro. Amazing.",
  :rating 5,
  :companions "Charlie",
  :website "https://ristoranteconsorzio.it/",
  :latitude "45.0714943",
  :country "Italy"}
 {:place "mezzaluna",
  :name "Mezzaluna",
  :city "Turin",
  :rating 4,
  :state "Piedmont",
  :country "Italy",
  :latitude "45.0765432",
  :longitude "7.6812211",
  :notes "Vegan. Quadrilatero Romano."}
 {:place "monferrato",
  :name "Monferrato",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :notes "via Mario",
  :rating 3,
  :latitude "45.0630557",
  :longitude "7.7000997",
  :website "https://www.ristorantemonferrato.com/en/home-page/"}
 {:place "condividere",
  :name "Condividere",
  :city "Turin",
  :longitude "7.691242553486777",
  :state "Piedmont",
  :rating 5,
  :notes "Michelin star(s). Italian and Mediterranean.",
  :website "https://www.condividere.com/hp/",
  :latitude "45.08016427079913",
  :country "Italy"}
{:place "beena-apericena",
:name "Beena",
:city "Turin",
:state "Piedmont",
:country "Italy",
:notes "San Salvario. Indian.",
:latitude "45.05611958341507",
:longitude "7.683458968670746",
:companions ["liza", "charlie", "corinna"],
:rating 3,
:website "https://beenapericena.it/",
:map-url "https://maps.app.goo.gl/XbFoCBEn7rZs7FAT7"}
{:place "Gennaro Esposito",
:name "Gennaro Esposito",
:city "Turin",
:state "Piedmont",
:country "Italy",
:search-hint "Gennaro Esposito Torino",
:notes "Good pizza.",
:latitude "45.07569902290464",
:longitude "7.6709641858664",
:website "http://www.gennaroespositomilano.it/",
:map-url "https://maps.app.goo.gl/B1Wp4fcXonFNJwiG6"}
{:place "peruviano-mijuna",
:name "Peruviano Mijuna"
:city "Turin",
:state "Piedmont",
:country "Italy",
:notes "Peruvian food.",
:latitude "45.079487357861794",
:longitude "7.66664382634349",
:map-url "https://maps.app.goo.gl/o7i5pHb7TahvjsAd7"}
{:place "casa-manitu",
:name "Casa Manitù",
:city "Turin",
:state "Piedmont",
:country "Italy",
:search-hint "Gennaro Esposito Torino",
:notes "Apericena.",
:latitude "45.06720147695877",
:longitude "7.652354741686548",
:website "https://casamanitu.it/",
:map-url "https://maps.app.goo.gl/Fdv3vLwow3WAuC7B8"}
{:place "ombrellificio",
:name "Ombrellificio",
:city "Turin",
:state "Piedmont",
:country "Italy",
:search-hint "Ombrellificio Torino",
:latitude "45.090422013476065",
:longitude "7.691657039836289",
:website "https://ombrelli.it/",
:map-url "https://maps.app.goo.gl/PGSybvgASudxexY5A"}
{:place "pizza-dei-mestieri",
:name "Ristorante Pizza dei Mestieri",
:city "Turin",
:state "Piedmont",
:country "Italy",
:search-hint "Pizza dei Mestieri Torino",
:latitude "45.08194334664565",
:longitude "7.659953835866642",
:website "https://www.piazzadeimestieri.it/",
:map-url "https://maps.app.goo.gl/AYyk2J33Vnn4kcs58"}
{:place "am-restaurant",
:name "AM Restaurant",
:city "Turin",
:state "Piedmont",
:country "Italy",
:latitude "45.076169545360386",
:longitude "7.679611812851027",
:website "http://amrestaurant.it/",
:map-url "https://maps.app.goo.gl/6AZN9ZaTc7FUHA9M9"}
{:place "dong-oriental-experience",
:name "Dong Oriental Experience",
:city "Turin",
:state "Piedmont",
:country "Italy",
:search-hint "Dong Torino",
:rating 2,
:latitude "45.06948518197047",
:longitude "7.665720726451694",
:website "https://www.dongorientalexperience.it/",
:map-url "https://maps.app.goo.gl/UVX6jQzzbmtMMazw6"}
{:place "controvento-gastronomia",
:name "Controvento Gastronomia",
:city "Turin",
:state "Piedmont",
:country "Italy",
:search-hint "Controvento Torino",
:latitude "45.07545424126205",
:longitude "7.695617226343312",
:website "https://it-it.facebook.com/GastronomiaArtigianaControvento/",
:map-url "https://maps.app.goo.gl/asktCisVQYS2r6NF9"}
{:place "plin-e-tajarin",
:name "Plin E Tajarin",
:city "Turin",
:state "Piedmont",
:country "Italy",
:search-hint "Plin e Tajarin Torino",
:notes "Cit Turin.";
:latitude "45.07401775049557",
:longitude "7.657899457030433",
:website "http://www.plinetajarin.it/",
:map-url "https://maps.app.goo.gl/Tnn6HqMns7hk39up8"}
{:place "teapot",
:name "Teapot",
:city "Turin",
:state "Piedmont",
:country "Italy",
:notes "San Salvario.",
:latitude "45.057607414385586",
:longitude "7.683603285865575",
:website "https://www.facebook.com/Teapot-Tisaneria-Con-Cucina-969380563125686/",
:map-url "https://maps.app.goo.gl/i21ypGy4HZLzoJpS9"}
{:place "azotea",
:name "Azotea",
:city "Turin",
:state "Piedmont",
:country "Italy",
:search-hint "Azotea Torino",
:notes "Near Vanchiglia. Peruvian and Japanese fusion.",
:latitude "45.063736851006645",
:longitude "7.694991110999271",
:website "https://azoteatorino.com/",
:map-url "https://maps.app.goo.gl/mcfebWNQmR9Q3pfr8"}
{:place "osteria-ras-ciamuraje",
:name "Osteria Ras-ciamuraje",
:city "Cisterna d'Asti",
:state "Piedmont",
:country "Italy",
:phone "+39 0141 979 330",
:search-hint "Ras-ciamuraje Cisterna d'Asti",
:notes "Short ride from Turin. Try the home-made agnolotti, battuta di fassone, and white truffles (in season) on a fried egg. Order the Vaudano family wine.",
:latitude "44.825182819788466",
:longitude "8.004940919046076",
:website "http://www.ras-ciamuraje.it/",
:map-url " https://maps.app.goo.gl/bGsfB1AXPxVXdMQLA"}
{:place "ristorante-parlapa",
:name "Ristorante Parlapà",
:city "Turin",
:state "Piedmont",
:country "Italy",
:search-hint "Parlapà Torino",
:notes "Quadrilatero. Very good restaurant with a wide wine selection.",
:latitude "45.07792164569173",
:longitude "7.671417499358798",
:website "http://www.parlapa.com/",
:map-url "https://maps.app.goo.gl/MgwRvgr89y2ce2s46"}
{:place "Feroza",
:name "Feroza",
:city "Turin",
:state "Piedmont",
:country "Italy",
:notes "Good vegan restaurant. Via Simone.",
:latitude "45.07242883857202",
:longitude "7.6785458993585145",
:website "https://feroza.it/",
:map-url "https://maps.app.goo.gl/3pztq7RsnYk1LVkV8"}
{:place "oh-crispa",
:name "Oh Crispa! 煎饼果子",
:city "Turin",
:state "Piedmont",
:country "Italy",
:rating 4,
:notes "Chinese street food.",
:latitude "45.058095230981266",
:longitude "7.67982482634263",
:website "https://linktr.ee/ohcrispa",
:map-url "https://maps.app.goo.gl/sCQEnvBKDE1Dtzna8"}
{:place "poor-manager",
:name "Poor Manager",
:city "Turin",
:state "Piedmont",
:country "Italy",
:notes "Potato place.",
:rating 4,
:latitude "45.05810280971719",
:longitude "7.679749724491378",
:website "https://www.poormanger.it/",
:map-url "https://maps.app.goo.gl/3et4Uki6sYxK8nzY9"}
{:place "magazzinioz",
:name "MagazziniOz",
:city "Turin",
:state "Piedmont",
:country "Italy",
:rating 4,
:notes "Near the cafe. All ingredients from the
territory. Lunch/breakfast. Centre.",
:latitude "45.065403437694414",
:longitude "7.687045939835206",
:website "https://www.magazzinioz.it/",
:map-url "https://maps.app.goo.gl/FaS6S7ftVTZy6KU49"}]
