[{:place "la-barriera-trattoria",
  :name "La Barriera Trattoria",
  :city "Turin",
  :osm-id "8044412299",
  :osm-type "node",
  :longitude "7.7007961",
  :state "Piedmont",
  :notes "Small and cozy with great food reviews.",
  :osm-url "https://www.openstreetmap.org/node/8044412299",
  :website "https://www.google.com/search?q=la+barriera+trattoria",
  :latitude "45.0851302",
  :country "Italy"}
 {:place "pastificio-ferri",
  :name "Pastificio Ferri",
  :longitude "7.6956396",
  :latitude "45.0954397",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :website "https://www.ferrifood.it/index.php/servizi",
  :rating 5
  :notes "A little expensive but a high-quality gastronomia"}
 {:place "o-sfizio-e-masaniello",
  :name "O'Sfizio e Masaniello",
  :city "Turin",
  :osm-id "2923386028",
  :osm-type "node",
  :longitude "7.7066530",
  :state "Piedmont",
  :search-hint "Masaniello Torino",
  :notes "Pizza. Looks good if you ever need it.",
  :osm-url "https://www.openstreetmap.org/node/2923386028",
  :website "https://osfizioemasaniello.business.site",
  :latitude "45.0897121",
  :country "Italy"}
 {:place "ivo1958-ristorante",
  :phone "+39 011 852806",
  :name "Ivo1958 Ristorante",
  :city "Turin",
  :longitude "7.6979714",
  :state "Piedmont",
  :search-hint "Da Ivo Torino",
  :notes "Good reviews, food looks good.",
  :osm-url "https://www.openstreetmap.org/node/7997556622",
  :website "http://ivo1958.it",
  :latitude "45.0831116",
  :country "Italy"}
 {:place "via-baltea-cultural-center",
  :name "Via Baltea Cultural Center",
  :city "Turin",
  :longitude "7.6930809",
  :state "Piedmont",
  :notes "Cultural center in Barriera di Milano. Incredible vibes. Above average vegitarian food.",
  :osm-url "https://www.openstreetmap.org/way/253435093",
  :website "https://www.viabaltea.it/",
  :latitude "45.0904445",
  :rating 5
  :country "Italy"}
 {:place "bagni-pubblici-di-via-aglie",
  :name "Bagni Pubblici di via Agliè",
  :city "Turin",
  :osm-id "325525163",
  :osm-type "way",
  :longitude "7.6925718",
  :state "Piedmont",
  :notes "La casa del Quartiere di Barriera di Milano.",
  :osm-url "https://www.openstreetmap.org/way/325525163",
  :website "https://bagnipubblici.wordpress.com/",
  :latitude "45.0881966",
  :country "Italy"}
 {:place "ombrellificio",
  :name "Ombrellificio",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :website "https://ombrelli.it/"}
 {:place "la-grande-muraglia",
  :name "La Grande Muraglia",
  :city "Turin",
  :state "Piedmont",
  :country "Italy",
  :notes "Chinese restaurant."}]
