[{:address "46 Constitution Street",
  :place "rocksalt-cafe",
  :name "Rocksalt Cafe",
  :city "Edinburgh",
  :map-url
  "https://maps.apple.com/?q=Rocksalt%20Cafe%0A46%20Constitution%20Street%0AEdinburgh%0AScotland%0AEH6%206RS%0AUnited%20Kingdom&ll=55.974823,-3.167240",
  :companions ["Leo" "Liza"],
  :longitude "-3.1672403",
  :state "Scotland",
  :latitude "55.9748232",
  :timestamp "2026-07-14T16:24:41.842179397Z",
  :country "United Kingdom",
  :rating 4}
 {:address "2 Brougham St",
  :place "the-ventoux",
  :name "The Ventoux",
  :city "Edinburgh",
  :map-url
  "https://maps.apple.com/?q=The%20Ventoux%0A2%20Brougham%20St%0AEdinburgh%0AScotland%0AEH3%209JH%0AUnited%20Kingdom&ll=55.943638,-3.202957",
  :companions ["liesbeth" "martin" "elisabetta"],
  :longitude "-3.2029567",
  :state "Scotland",
  :notes "Such a great dive!",
  :latitude "55.9436385",
  :timestamp "2026-07-14T20:23:56.344998529Z",
  :country "United Kingdom",
  :rating 5}
 {:address "8 Forrest Road",
  :place "union-of-genius",
  :name "Union of Genius",
  :city "Edinburgh",
  :map-url
  "https://maps.apple.com/?q=Union%20of%20Genius%0A8%20Forrest%20Road%0AEdinburgh%0AScotland%0AEH1%202QN%0AUnited%20Kingdom&ll=55.945987,-3.190944",
  :companions ["Jean IEEE"],
  :longitude "-3.1909436",
  :state "Scotland",
  :latitude "55.9459869",
  :timestamp "2026-07-15T12:49:26.048743728Z",
  :country "United Kingdom",
  :rating 3}
 {:address "21 Lothian Road",
  :place "red-squirrel",
  :name "Red Squirrel",
  :city "Edinburgh",
  :map-url
  "https://maps.apple.com/?q=Red%20Squirrel%0A21%20Lothian%20Road%0AEdinburgh%0AScotland%0AEH1%202DJ%0AUnited%20Kingdom&ll=55.948421,-3.206106",
  :longitude "-3.206106",
  :state "Scotland",
  :notes "Vegan haggis, good beer",
  :latitude "55.9484213",
  :timestamp "2026-07-16T13:54:09.730431606Z",
  :country "United Kingdom",
  :rating 4}

 {:address "27 West Port",
  :place "west-port-oracle",
  :name "West Port Oracle",
  :city "Edinburgh",
  :map-url
  "https://maps.apple.com/?q=West%20Port%20Oracle%0A27%20West%20Port%0AEdinburgh%0AScotland%0AEH1%202JE%0AUnited%20Kingdom&ll=55.946690,-3.198516",
  :companions ["elisabetta"],
  :longitude "-3.1985162",
  :state "Scotland",
  :notes "Good lighting ",
  :latitude "55.94669",
  :timestamp "2026-07-16T21:27:28.017755940Z",
  :country "United Kingdom",
  :rating 3}
 {:address "2 Brougham St",
  :place "the-ventoux",
  :name "The Ventoux",
  :city "Edinburgh",
  :map-url
  "https://maps.apple.com/?q=The%20Ventoux%0A2%20Brougham%20St%0AEdinburgh%0AScotland%0AEH3%209JH%0AUnited%20Kingdom&ll=55.943638,-3.202957",
  :companions ["liesbeth" "martin" "elisabetta"],
  :longitude "-3.2029567",
  :state "Scotland",
  :notes "Best dive in Edinburgh ",
  :latitude "55.9436385",
  :timestamp "2026-07-16T23:30:24.555262430Z",
  :country "United Kingdom",
  :rating 5}
 {:address "3 East Fountainbridge",
  :place "braw-brunch",
  :name "Braw Brunch",
  :city "Edinburgh",
  :map-url
  "https://maps.apple.com/?q=Braw%20Brunch%0A3%20East%20Fountainbridge%0AEdinburgh%0AScotland%0AEH3%209BH%0AUnited%20Kingdom&ll=55.945667,-3.202391",
  :companions ["leo"],
  :longitude "-3.2023913",
  :state "Scotland",
  :notes "Expensive ",
  :website "https://www.yelp.co.uk/biz/braw-brunch-edinburgh",
  :latitude "55.9456673",
  :timestamp "2026-07-16T23:31:31.344236494Z",
  :country "United Kingdom",
  :rating 3}
 {:address "4 Spittal Street",
  :place "the-source-coffee-roasters",
  :name "The Source Coffee Roasters",
  :city "Edinburgh",
  :map-url
  "https://maps.apple.com/?q=The%20Source%20Coffee%20Roasters%0A4%20Spittal%20Street%0AEdinburgh%0AScotland%0AEH3%209DX%0AUnited%20Kingdom&ll=55.945988,-3.203196",
  :longitude "-3.2031963",
  :state "Scotland",
  :notes "Super unique ",
  :latitude "55.9459877",
  :timestamp "2026-07-16T23:32:28.949696915Z",
  :country "United Kingdom",
  :rating 5}
 {:address "26 London Street",
  :place "paramount-lebanese-kitchen",
  :name "Paramount Lebanese Kitchen",
  :city "London",
  :map-url
  "https://maps.apple.com/?q=Paramount%20Lebanese%20Kitchen%0A26%20London%20Street%0ALondon%0AEngland%0AW2%201HH%0AUnited%20Kingdom&ll=51.515842,-0.174630",
  :companions ["leo" "liza"],
  :longitude "-0.1746304",
  :state "England",
  :notes "Hidden Lebanese gem next to the train station.  ",
  :website
  "https://www.facebook.com/Paramount-Lebanese-Kitchen-Paddington-171539136824363/",
  :latitude "51.5158423",
  :timestamp "2026-07-20T11:58:17.478328321Z",
  :country "United Kingdom",
              :rating 5}
 {:address "456 Bethnal Green Road",
  :place "bethnal-green-tavern",
  :name "Bethnal Green Tavern",
  :city "London",
  :map-url
  "https://maps.apple.com/?q=Bethnal%20Green%20Tavern%0A456%20Bethnal%20Green%20Road%0ALondon%0AEngland%0AE2%200EA%0AUnited%20Kingdom&ll=51.527008,-0.058350",
  :companions ["leo" "liza" "jenny" "gabby"],
  :longitude "-0.0583501",
  :state "England",
  :notes "Great beer. ",
  :website "https://www.bethnalgreentavern.co.uk",
  :latitude "51.5270079",
  :timestamp "2026-07-20T19:53:18.879339704Z",
  :country "United Kingdom",
  :rating 5}]
