.beyond-the-frame {
    z-index: -1;
    position: relative;
    top: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

@media screen and (max-width: 30em) {
    .beyond-the-frame {
        top: -7px;
    }
}
