{:workshops
 [{:org "The Internet Lives Here"
   :geo "New York, NY, US"
   :date-bgn "#time/year \"2017\""
   :date-end "#time/year \"2019\""
   :title "Docent"
   :desc "Telecommunications Tour"
   :synopsis "&quot;The Internet Lives Here&quot; is a multi-site telecommunications tour of Lower Manhattan. Participants explore the relationship between global telecommunications and power. The walk starts at the old AT&T Long Lines building in Tribeca and concludes south of Wall St. at the original ITT Building - spanning the 19th, 20th, and 21st centuries."
   :image "itt-m.jpg" ;; (cc) Christoph Anton Mitterer on Flickr
   }
  {:org "ClojureBridge"
   :geo "New York, NY, US"
   :date-bgn "#time/date \"2017-06-03\""
   :date-end "#time/date \"2017-06-04\""
   :title "Advanced Instructor"
   :desc "Functional Programming &amp; Clojure Fundamentals"
   :synopsis "ClojureBridge is an all-volunteer organization dedicated to increasing diversity in the Clojure community. I lectured and provided hands-on support for experienced engineers looking to learn functional programming based on a collaboratively prepared curriculum."
   :link " http://www.clojurebridge.org/events/2017-05-26-new-york-ny"
   :link-name "ClojureBridge Event Information"
   :image "clojurebridge.png"
   }
  {:org "Digital Humanities Festival"
   :geo "New York, NY, US"
   :date "#time/date \"2017-02-08\""
   :title "Co-Teacher"
   :desc "Strategies for Interactive &amp; Immersive Dance"
   :synopsis "This workshop focuses on strategies for creating cross-domain experiences. We dive deep into visual projection, software, sound, and dance while respecting each medium's idiosyncratic strengths."
   :link "http://dhweek.nycdh.org/event/strategies-for-interactive-and-immersive-dance/"
   :link-name "NYCDH Workshop Page"
   :image "nycdh.png"
   }]

 :conference-talks
 [{:org "Society for the History of Technology"
   :geo "Milan, IT"
   :date "#time/date \"2019-10-26\""
   :title "The Emergence of Computational Thinking in Art"
   :synopsis "Early computational art provides insight into the nature of creativity and human discovery. Artists created these works before the computer's ubiquity. Many had never even seen a computer. The work exhibits pure computational thinking outside of the engineer or the machine. It suggests a new perspective that has broadly shaped our perception of the world."
   :link "https://www.historyoftechnology.org/wp-content/uploads/2019/10/SHOT-2019-Program_FINAL.pdf"
   :link-name "SHOT 2019 Program"
   :image "shot-logo.png"
   }
  {:org "PyCon/PyData"
   :geo "Berlin, DE"
   :date "#time/date \"2019-10-10\""
   :title "Dr. Schmood's Notebook of Python Calisthenics and Orthodontia"
   :subtitle "Don't get bit by misaligned state and output, keep your notebooks running with these functional tips!"
   :synopsis "This talk will explain functional programming using practical language and provide historical context. Some initial concepts will be demonstrated in Clojure or Julia, but ultimately translated to Python. Further consideration will be given to the impact of immutability, a core concept in the functional style, on creating reproducible notebooks."
   :link "https://de.pycon.org/program/pyconde-f3tczn-dr-schmood-s-notebook-of-python-calisthenics-and-orthodontia-david-schmudde/"
   :link-name "PyConDE & PyData Profile"
   :video "https://www.youtube.com/watch?v=BAsL_cbkQDc"
   }
  {:org "Curry On"
   :geo "London, UK"
   :date "#time/date \"2019-07-15\""
   :title "Say What You Mean"
   :subtitle "Exploring Declarative Computation in Art"
   :synopsis "&quot;Say What You Mean&quot; parallels the production of art with approaches to exploratory programming. 20th century art practices were clearly influenced by the milieu of computational thought. Expressionist artists like Jackson Pollock declared intent with few implementation details in mind. Pollock’s paintings have since been proven fractal in nature. Conceptual artists like Sol LeWitt wrote imperative instructions where &quot;the idea becomes the machine that makes the work.&quot; The results of both artists are computational in nature, but very different in quality. This is partially due to approach. This talk examines creative approaches to exploring unknown or open-ended domains. It emphasizes declarative programming and the tried-and-true techniques of abstraction and composition. Rather than showing a sliver of a sprawling codebase, approaches are illustrated more immediately through computational art. Parallel code examples are written in Clojure."
   :link "https://www.curry-on.org/2019/sessions/say-what-you-mean-exploring-declarative-computation-in-art.html"
   :link-name "Curry On Profile"
   :video "https://www.youtube.com/watch?v=HalZfFdWuP4"
   }
  {:org "History of Digital Cultures"
   :geo "University of Amsterdam, Amsterdam, NL"
   :date "#time/date \"2019-01-21\""
   :title "Enabling Digital Anthropology"
   :subtitle "On Methods and Practices of Digital Archaeology"
   :synopsis "A lecutre on preserving software and techniques of emulation."
   :image "uva.png"
   }
  {:org "Vossius Seminar's History of Knowledge Series"
   :geo "University of Amsterdam, Amsterdam, NL"
   :date "#time/date \"2019-01-22\""
   :title "Intended Knowledge?"
   :synopsis "The act of discovering and displaying digital art created for 20th century computing and telecommunication environments places the character of these systems in stark relief. Most exhibitions require an archeological undertaking and an enormous effort to execute a single artifact from forty years ago. &quot;Intended Knowledge?&quot; examines what computational art archeology can teach us about software engineering and its culture"
   :link "http://vossius.uva.nl/"
   :link-name "Vossius Center for the History of Humanities and Sciences"
   :image "uva.png"
   }
  {:org "Stored In Memory: The 10th Annual SIGCIS Conference"
   :geo "St. Louis, MO, US"
   :date "#time/date \"2018-10-14\""
   :title "Misuser"
   :subtitle "Artists Working at the Edge of Computing"
   :synopsis "The software I feature in this talk operated at the edge of digital systems. Artists often behaved like hackers: working off hours, pushing a system beyond its specification, and inventing new possibilities for human interaction along the way. &quot;Misuser&quot; will illustrate the connection between art and engineering, building a framework to examine the value of conventions and what we can learn by working outside of them."
   :link "http://meetings.sigcis.org/uploads/6/3/6/8/6368912/program_18_final.pdf"
   :link-name "Stored In Memory Program"
   :image "sigcis.png"
   }
  {:org "Strange Loop"
   :geo "St. Louis, MO, US"
   :date "#time/date \"2018-09-27\""
   :title "Misuser"
   :subtitle "The Case For a Steady Diet of Creative Misuse in Computing"
   :synopsis "The software I feature in this talk operated at the edge of digital systems. Artists often behaved like hackers: working off hours, pushing a system beyond its specification, and inventing new possibilities for human interaction along the way. &quot;Misuser&quot; will illustrate the connection between art and engineering, building a framework to examine the value of conventions and what we can learn by working outside of them."
   :link "https://thestrangeloop.com/2018/misuser.html"
   :link-name "Strange Loop profile"
   :video "https://www.youtube.com/embed/SU6NvkkF4Xk"
   }
  {:org "Creative Coding NYC"
   :geo "New York, NY, US"
   :date "#time/date \"2018-02-28\""
   :title "Sound, Motion, Notation"
   :subtitle "The Work of Channa Horwitz"
   :synopsis "Channa Horwitz worked on her &quot;Sonakinatography&quot; series from 1968 until 2012. The pieces are a prescient expression of a hidden order that transcends artistic medium and forms the world around us. My presentation will investigate her algorithmic process by running code and placing the output in a broader historical context across the domains of art, gaming, and computation. I’ll also touch on the concepts of literate computing in computational notebooks using Nextjournal."
   :video "https://www.youtube.com/embed/yvbKpaN1_7M"
   }
  {:org "Society for the History of Technology"
   :geo "Philadelphia, PA, US"
   :date "#time/date \"2017-10-28\""
   :title "Unlikely Harbingers"
   :subtitle "Office Machinery in the Mainframe Era"
   :synopsis "This paper focuses on the significance of common mid-century desktop tools through the lens of Commodore Business Machines, a small company with a penchant for international deal-making. Commodore competed with very little capital against much larger players, and in doing so utilized emerging business practices that would come to define today's entrepreneurial climate. Part of a series on &quot;Computers and Futures.&quot;"
   :link "http://sites.library.queensu.ca/transmissions/computers-and-futures/"
   :link-name "Computers and Futures Retrospective on Transmissions"
   :image "shot-logo.png"
   }
  {:org "RIXC Art Science Festival"
   :geo "Riga, LV"
   :date "#time/date \"2017-10-20\""
   :title "Manifesting Human Relationships in Art and Technology"
   :synopsis "The internet has produced a tangibly interconnected world. In hindsight, its grammar of nodes, edges, and protocols is as organic as natural language. This presentation examines the discovery of packet-switched networks from a mid-century context and reveals the metaphors for human interaction and consciousness baked within; concepts that provide a foundation for discussing post-digital contemporary art."
   :link "http://festival2017.rixc.org/"
   :link-name "RIXC: Virtualities and Realities"
   :image "rixc.jpg"
   }
  {:org "I T.A.K.E Unconference (Keynote)"
   :geo "Bucharest, RO"
   :date "#time/date \"2017-05-11\""
   :title "Aesthetics and Narrative"
   :subtitle "Programming What Cannot Be Programmed"
   :synopsis "Declarative programming has been the style of choice for implementing countless creative applications, from &quot;Zork&quot; to Harold Cohen's &quot;AARON.&quot; I explore why it helps to reason about machine creativity in this way and use Clojure's Overtone toolkit and clojure.spec to illustrate abstract concerns and domain intelligence."
   :link "http://itakeunconf.com/sessions/aesthetics-and-narrative-programming-what-cannot-be-programmed/"
   :link-name "I T.A.K.E Unconference profile"
   :video "https://www.youtube.com/embed/loksl7ED0Hg"
   }
  {:org "Codes & Modes Symposium"
   :geo "Hunter College, New York, NY, US"
   :date "#time/date \"2017-03-18\""
   :title "The Grammar of the Internet"
   :synopsis "Cinematic language is robust enough to clearly depict the flow of time through a collection of shots - whether they span centuries, seconds, or instant conceptual leaps. Early experiments in hypertext and interactive media often attempted to reconcile the new mediums by adopting the rules of cinema. This talk nods to the elegance of cinematic grammar and examines an idiosyncratic path forward for interconnected, interactive, nonfiction media."
   :link "http://www.hunterintegratedmedia.org/reframe/speaker-lineup/dschmudde/"
   :link-name "Codes & Modes profile"
   :image "hunter-sm.jpg"
   }
  {:org "Clojure/conj"
   :geo "Austin, TX, US"
   :date "#time/date \"2016-12-01\""
   :title "Aesthetics and Narrative"
   :subtitle "Programming What Cannot Be Programmed"
   :synopsis "Declarative programming has been the style of choice for implementing countless creative applications, from &quot;Zork&quot; to Harold Cohen's &quot;AARON.&quot; I explore why it helps to reason about machine creativity in this way and use Clojure's Overtone toolkit and clojure.spec to illustrate abstract concerns and domain intelligence."
   :link "http://2016.clojure-conj.org/aesthetics-and-narrative/"
   :link-name "Clojure/conj"
   :video "https://www.youtube.com/embed/UJ1pD-Z6PEY"
   }
  {:org "Vintage Computer Festival Midwest 11"
   :geo "Elk Grove, IL, US"
   :date "#time/date \"2016-09-10\""
   :title "Accidentally Arming a Hacker Revolution"
   :subtitle "The Role of Commodore and Jack Tramiel"
   :synopsis "The popularity of Commodore computers and modems hastened the spread and associated public fears of hacking. This is partially due to Jack Tramiel's ethos, which inadvertently aligned with hacker principles."
   :link "https://www.youtube.com/watch?v=1lBaqC6kKEo"
   :link-name "Vintage Computer Festival on YouTube"
   :video "https://www.youtube.com/embed/1lBaqC6kKEo"
   }
  {:org "Pecha Kucha"
   :geo "Berlin, DE"
   :date "#time/date \"2015-07-08\""
   :title "Computers & Intimacy"
   :subtitle "The Story of the Largest Machines and the Smallest Details"
   :synopsis "Our thoughts are the material of the Internet. In the midst of ever-evolving man/machine integration, I’ll use declassified documents to show how politicians have used computers to monitor these thoughts in the past, and suggest new ways of thinking about intimacy and computers in the future."
   :link "http://pechakucha.de/berlin/player/?event=PK_39_1&position=03&presenter=D.%20Schm%C3%BCdde&presentation=Computers%20&%20Intimacy%20%E2%80%93%20The%20Story%20of%20the%20Largest%20Machines%20and%20the%20Smallest%20Details"
   :link-name "Pecha Kucha Slides &amp; Audio"
   :image "intimacy.jpg"
   }
  {:org "C-Base: Home of the Chaos Computer Club"
   :geo "Berlin, DE"
   :date "#time/date \"2015-07-07\""
   :title "Harvesting Human Intelligence"
   :subtitle "Reframing the Surveillance Discourse"
   :synopsis "The power of large government and corporate surveillance systems feel like an intractable part of our everyday digital lifestyle. However, the raw intelligence of centralized computer systems pale in comparison to decentralized personal computers, each augmented by a human actor. This talk examines how the PC threatens traditional power structures and how those systems have responded."
   :link "https://digitalegesellschaft.de/2015/07/npa039/"
   :link-name "Digitalegesellschaft: Netzpolitischen Abend #38"
   :video "https://player.vimeo.com/video/132857801"
   }
  {:org "Music Composition for the Screen"
   :geo "Columbia College Chicago, Chicago, IL, US"
   :date "#time/year-month \"2009-10\""
   :title "Hybrid Scores and Atonality"
   :subtitle "Visiting Lecturer"
   :desc "A master class on the intersection between sound design and traditional notions of composing music for the screen."
   :link "http://beyondthefra-me.tumblr.com/post/5545059622"
   :link-name "D. Schm&uuml;dde: &quot;Composing for <em>The Assassination of Chicago&#39;s Mayor</em>&quot;"
   :image "ccc.jpg"
   }
  {:org "Midwest Independent Film Festival"
   :geo "Chicago, IL, US"
   :date "#time/year-month \"2009-09\""
   :title "Low Budget Filmmaking (Moderator)"
   :synopsis "A discussion of low budget filmmaking techniques for independent filmmakers."
   :link "http://beyondthefra-me.tumblr.com/post/53206393777"
   :link-name "D. Schm&uuml;dde: &quot;The Magic of M&#233;li&#232s: Low Budget Filmmaking&quot;"
   :image "miff.png"
   }
  {:org "Chicago Actors Casting Summit"
   :geo "Chicago, IL, US"
   :date-bgn "#time/year-month \"2008-07\""
   :date-end "#time/year-month \"2009-07\""
   :title "Casting in Student Films (Panelist)"
   :synopsis "A discussion with actors on the benefits and concerns associated with working on student-run film sets."
   :link "http://beyondthefra-me.tumblr.com/post/28430696505"
   :link-name "D. Schm&uuml;dde: &quot;Reader Question: Student/Actor Expectations&quot;"
   :image "16x9spacer.gif"
   }]
 }
