[{:title "Representative Taylor Greene Spreads QAnon Claims in Congress on the Night of the Capitol Invasion"
  :geo "Washington D.C., US"
  :date #time/date "2021-01-06"
  :desc "&ldquo;It’s been proven that these [voting] machines are connected and that they can be hacked.&rdquo;"
  :footer "Representative Marjorie Taylor Greene, Republican of Georgia, joins her colleagues in <a href='https://www.nytimes.com/live/2021/01/06/us/fact-check-electoral-certification#its-been-proven-that-these-machines-are-connected-and-that-they-can-be-hacked'>spreading misinformation</a> on the House floor."
  :link "/posts/2021-01-07-truth-storms-the-capitol.html"
  :link-name "Truth Storms the Capitol"
  :image nil}
 {:title "Podcaster Joe Rogan Signs With Spotify"
  :geo nil
  :date #time/date "2020-05-19"
  :desc "Joe Rogan announced an exclusive deal with Spotify that <a href='https://www.nytimes.com/live/2021/01/06/us/fact-check-electoral-certification#its-been-proven-that-these-machines-are-connected-and-that-they-can-be-hacked'>sent data archivists scrambling</a> to save the media and community discussions surrounding his show on YouTube. The deal is worth more than $100 million according to Anne Steele of The Wall Street Journal, &ldquo;Spotify Strikes Podcast Deal With Joe Rogan Worth More Than $100 Million.&rdquo;"
  :footer nil
  :link "/posts/2020-05-21-third-way.html"
  :link-name "Aggregators, Publishers, and the Third Way"
  :image nil}
 {:title "Apple and Google Announce Bluetooth Contact Tracing Efforts"
  :geo nil
  :date #time/date "2020-04-10"
  :desc "Apple and Google decided to bake an automated exposure notification service into their portable devices. The software will enable intra-device information exchange over Bluetooth while keeping each individual’s identity a secret."
  :footer nil
  :link "/posts/2020-05-07-covid-tracking.html"
  :link-name "The State of COVID-19 Exposure Notifications"
  :image nil}
 {:title "NotPetya Malware Appears"
  :geo nil
  :date #time/date "2017-06-27"
  :desc "The NotPetya malware first appeared in 2017, on the eve of Ukrainian Constitution Day. It affected thousands of systems in over 65 countries. Maersk, the Danish shipping company, lost $300 million in revenues and was forced to replace 4,000 servers. Even still, Ukraine was the malware’s clear target, suffering 80% of all infections."
  :footer nil
  :link "/posts/2020-05-29-disinformation-strategies.html"
  :link-name "Disinformation Strategies and Tactics"
  :image nil}
 {:title "Bret Victor Publishes &ldquo;What Can a Technologist Do About Climate Change?&rdquo;"
  :geo nil
  :date #time/year-month "2015-11"
  :desc "Midway through <em>What Can a Technologist Do About Climate Change?</em>, Victor opines that public discourse on climate relies on “tips, soundbites, factoids, and emotional rhetoric” rather than “evidence-grounded models.” He suggests a solution for working with and discussing profound problems: better tools for model-driven debate, model-driven reading, and model-driven authoring."
  :footer nil
  :link "/posts/2020-05-18-climate-change.html"
  :link-name "Information's Role in Facing Climate Change"
  :image nil}
 {:title "&ldquo;Fuck the EU.&rdquo; Malinformation Effort"
  :geo nil
  :date #time/date "2014-02-04"
  :desc "An anonymous source posted a conversation between the US Assistant Secretary of State, Victoria Nuland, and the US Ambassador to Ukraine, Geoffrey Pyatt. Amidst all the political banter, one line stood out, &ldquo;Fuck the EU.&rdquo; The leaked audio was a crude effort to sow dissension between the US and its EU allies during a tense moment in Ukraine - a move that would clearly help Russian interests."
  :footer nil
  :link "/posts/2020-05-29-disinformation-strategies.html"
  :link-name "Disinformation Strategies and Tactics"
  :image nil}
 {:title "Network Solutions Charges for Domain Names"
  :geo nil
  :date #time/year-month "1995-09"
  :desc "NSF allows Network Solutions to begin charging for domain name registration services, which were perviously free for .com, .net, .org, .edu, and .gov top-level domains."
  :footer nil
  :link "/posts/2020-30-11-gallery-404.html"
  :link-name "Gallery 404"
  :image nil}
 {:title "The Domain Name System is Created (RFC #1034 & #1035)"
  :geo nil
  :date #time/year-month "1987-11"
  :desc "Paul Mockapetris publishes the initial designs for a human-readable Domain Name System that maps network addresses (188.40.28.20) to human-readable names (schmud.de). His design allows the lookup tables required to scale across the entire world."
  :footer "Steve Crocker, 'Today’S Internet Still Relies On An ARPANET-Era Protocol: The Request For Comments', IEEE Spectrum, 2020, https://spectrum.ieee.org/tech-history/cyberspace/todays-internet-still-relies-on-an-arpanetera-protocol-the-request-for-comments."
  :link nil
  :link-name nil
  :image nil}
 {:title "Les Immatériaux"
  :geo nil
  :date #time/year-month "1985-03"
  :desc "Les Immatériaux was presented at the Centre Pompidou in Paris. It chronicled many of the confluent developments of media, art, theory, and technology. Christiane Paul suggested that the exhibition &ldquo;argued that the immaterial is matter subjected to interaction and conceptual processes,&rdquo; highlighting the shrinking gap between our lives in cyberspace and the physical space."
  :footer "Christiane Paul <em>From Immateriality to Neomateriality</em> (2015)"
  :link "/posts/2020-10-21-software-preservation-networked-art.html"
  :link-name "Software Preservation in Networked Art"
  :image nil}
 {:title "Minitel"
  :geo nil
  :date #time/date "1980-07-15"
  :desc "Minitel, a popular public computer network, comes online in France. This network is used to provide online services to the general public."
  :footer nil
  :link "/posts/2020-30-11-gallery-404.html"
  :link-name "Galley 404"
  :image nil}
 {:title "The United States Privacy Protection Study Commission Issues Their Report"
  :geo nil
  :date #time/year-month "1977-07"
  :desc "The Privacy Protection Study Commission generated 162 recommendations to help protect citizens against the intrusive nature of digital data collection, storage, and dissemination. They found that the Privacy Act of 1974 &ldquo;had not resulted in the general benefits to the public that either its legislative history or the prevailing opinion as to its accomplishments would lead one to expect.&rdquo; These recommendations were never codified into law."
  :footer "<a href='/papers/personal-privacy-in-an-info-society-1977.pdf'>Personal Privacy In An Information Society: Appendix 3: Employment Records</a>. The full report is <a href='https://epic.org/privacy/ppsc1977report/'>here</a>."
  :link "/posts/2020-06-15-personal-privacy.html"
  :link-name "Personal Privacy"
  :image nil}
 {:title "California Constitutional Right of Privacy Amendment"
  :geo nil
  :date #time/date "1972-08-08"
  :desc "A 1972 amendment to the California Constitution that included the &ldquo;right of privacy among the &lsquo;inalienable&rsquo; rights of all people. The amendment established a legal and enforceable right of privacy for every Californian. Fundamental to this right of privacy is the ability of individuals to control the use, including the sale, of their personal information.&rdquo;"
  :footer "California Legislative Information Website, Assembly Bill No. 375: Legislative Consunsel's Digest: <a href='https://leginfo.legislature.ca.gov/faces/billCompareClient.xhtml?bill_id=201720180AB375&showamends=false'>Today's Law As Amended</a>, 2018."
  :link "/posts/2020-06-15-personal-privacy.html"
  :link-name "Personal Privacy"
  :image nil}
 {:title "Project Minaret at the National Security Agency"
  :geo nil
  :date #time/year "1969"
  :desc "&ldquo;The project, which became known officially as Minaret in 1969, employed unusual procedures. NSA distributed reports without the usual serialization. They were designed to look like HUMINT reports rather than SIGINT and readers could find no originating agency. Years later the NSA lawyer who first looked at the procedural aspects stated that the people involved seemed to understand that the operation was disreputable if not outright illegal.&rdquo;"
  :footer "Interagency Security Classification Appeals Panel (ISCAP) July 2013 declassification <a href='https://nsarchive2.gwu.edu/NSAEBB/NSAEBB441/'>review by the National Security Archives</a>"
  :link "/posts/2020-06-02-mlk.html"
  :link-name "MLK and &ldquo;Domestic Terrorism&rdquo;"
  :image nil}
 {:title "The ARPANET"
  :geo nil
  :date #time/date "1969-08-30"
  :desc "The ARPANET, an early military computer network, comes online in the United States. The network is used to coordinate information and share computing resources."
  :footer nil
  :link "/posts/2020-30-11-gallery-404.html"
  :link-name "Gallery 404"
  :image nil}
 {:title "Cybernetic Serendipity"
  :geo nil
  :date #time/date "1968-08-02"
  :desc "<a href='http://dada.compart-bremen.de/item/exhibition/3'>Cybernetic Serendipity</a> was an exhibition of electronic, cybernetic, and computer art curated by Jasia Reichardt, shown at the Institute of Contemporary Arts, London, England. It was organized in three sections: 1. Computer generated work, 2. Cybernetic devices-robots and painting machines, 3. Machines demonstrating the use of computers and the history of cybernetics."
  :footer nil
  :link "/posts/2020-10-21-software-preservation-networked-art.html"
  :link-name "Software Preservation in Networked Art"
  :image nil}
 {:title "RFC #1: Host Software"
  :geo nil
  :date #time/year-month "1969-04"
  :desc "The first two Request For Comments (RFC) describe how computers and routers (knowns as IMPs) would be used to form a computer network (the ARPANET)."
  :footer "Steve Crocker, 'Today’S Internet Still Relies On An ARPANET-Era Protocol: The Request For Comments', IEEE Spectrum, 2020, https://spectrum.ieee.org/tech-history/cyberspace/todays-internet-still-relies-on-an-arpanetera-protocol-the-request-for-comments."
  :link nil
  :link-name nil
  :image nil}
 {:title "&ldquo;The Computer As A Communication Device&rdquo;"
  :geo nil
  :date #time/year-month "1968-04"
  :desc "&ldquo;First, life will be happier for the on-line individual because the people with whom one interacts most strongly will be selected more by commonality of interests and goals than by accidents of proximity. Second, communication will be more effective and productive, and therefore more enjoyable. Third, much communication and interaction will be with programs and programmed models [...]. And, fourth, there will be plenty of opportunity for everyone to find his calling, for the whole world of information, with all its fields and disciplines, will be open to him.&rdquo;"
  :footer "J.C.R. Licklider and Robert W. Taylor, 'The Computer As A Communication Device', <em>Science And Technology</em>, April 1968."
  :link "/posts/2020-06-23-internet-community.html"
  :link-name "On the Internet, We Are Either Artists or Bureaucrats"
  :image nil}
 {:title "J.C.R. Licklider Coins the Term &ldquo;Narrowcasting&rdquo;"
  :geo nil
  :date #time/date "1967-01-26"
  :desc "&lsquo;The Carnegie Commission Report on Educational Television [...] proposed interconnecting PBS stations via satellite, and a supplementary paper by MIT professor and Internet visionary J.C.R. Licklider outlined several future scenarios for television including one that foresaw a multiplicity of television networks aimed at serving the needs of smaller, specialized audiences. &ldquo;Here,&rdquo; stated Licklider, &ldquo;I should like to coin the term ‘narrowcasting,’ using it to emphasize the rejection or dissolution of the constraints imposed by commitment to a monolithic mass-appeal, broadcast approach&rdquo;&rsquo;"
  :footer "Patrick Parsons, 'The Evolution Of The Cable-Satellite Distribution System', <em>Journal Of Broadcasting & Electronic Media</em> 47, no. 1 (2003): 1-17, doi:10.1207/s15506878jobem4701_1.<br /> J.C.R. Licklider, 'Televistas: Looking Ahead Through Side Windows', <em>Public Television: A Program For Action</em>, (New York: Carnegie Commission on Educational Television, January 26, 1967) (pp. 201-225), https://current.org/1967/01/carnegie-i/."
  :link "/posts/2021-01-07-truth-storms-the-capitol.html"
  :link-name "Truth Storms the Capitol"
  :image nil}
 {:title "David Padwa Co-Founds Basic Systems With Francis Mechner"
  :geo nil
  :date #time/year "1960"
  :desc "&ldquo;Firm specialized in educational and curricular technologies as well as the provision of systems integration services in education and training markets. In 1964 Xerox Corporation acquired Basic Systems; continued as division executive at Xerox and Director of Planning for educational markets.&rdquo;"
  :footer "From David Padwa's <a href='http://www.cuke.com/people/padwa.htm'>Curriculum Vitae</a>"
  :link "/posts/2020-12-16-be-here-now.html"
  :link-name "Be Here Now"
  :image nil}
 {:title "Bach Writes &ldquo;Herr, gehe nicht ins Gericht mit deinem Knecht&rdquo;"
  :geo nil
  :date #time/year "1723"
  :desc "Musical notation falls short of capturing the composer’s intent, the performer’s performance, and the audience’s experience. However, it is the reason we have access to the music of Bach and Beethoven. Musical scores embody information that has traveled through the centuries, slowly and subtly mutating along the way."
  :footer nil
  :link "/posts/2020-04-26-ambient-church.html"
  :link-name "Notes From the Ambient Church"
  :image "/img/2020-04-26-ambient-church/bwv-105.png"}]
