[{:title "Representative Taylor Greene Spreads QAnon Claims in Congress on the Night of the Capitol Invasion"
  :geo "Washington D.C., US"
  :date #time/date "2021-01-06"
  :desc "&ldquo;It’s been proven that these [voting] machines are connected and that they can be hacked.&rdquo;"
  :footer "Representative Marjorie Taylor Greene, Republican of Georgia, joins her colleagues in <a href='https://www.nytimes.com/live/2021/01/06/us/fact-check-electoral-certification#its-been-proven-that-these-machines-are-connected-and-that-they-can-be-hacked'>spreading misinformation</a> on the House floor."
  :link "/posts/2021-01-07-truth-storms-the-capitol.html"
  :link-name "Truth Storms the Capitol"
  :image nil}
 {:title "Podcaster Joe Rogan Signs With Spotify"
  :geo nil
  :date #time/date "2020-05-19"
  :desc "Joe Rogan announced an exclusive deal with Spotify that <a href='https://www.nytimes.com/live/2021/01/06/us/fact-check-electoral-certification#its-been-proven-that-these-machines-are-connected-and-that-they-can-be-hacked'>sent data archivists scrambling</a> to save the media and community discussions surrounding his show on YouTube. The deal is worth more than $100 million according to Anne Steele of The Wall Street Journal, &ldquo;Spotify Strikes Podcast Deal With Joe Rogan Worth More Than $100 Million.&rdquo;"
  :footer nil
  :link "/posts/2020-05-21-third-way.html"
  :link-name "Aggregators, Publishers, and the Third Way"
  :image nil}
 {:title "Apple and Google Announce Bluetooth Contact Tracing Efforts"
  :geo nil
  :date #time/date "2020-04-10"
  :desc "Apple and Google decided to bake an automated exposure notification service into their portable devices. The software will enable intra-device information exchange over Bluetooth while keeping each individual’s identity a secret."
  :footer nil
  :link "/posts/2020-05-07-covid-tracking.html"
  :link-name "The State of COVID-19 Exposure Notifications"
  :image nil}
 {:title "NotPetya Malware Appears"
  :geo "Ukraine"
  :date #time/date "2017-06-27"
  :desc "The NotPetya malware first appeared in 2017, on the eve of Ukrainian Constitution Day. It affected thousands of systems in over 65 countries. Maersk, the Danish shipping company, lost $300 million in revenues and was forced to replace 4,000 servers. Even still, Ukraine was the malware’s clear target, suffering 80% of all infections."
  :footer nil
  :link "/posts/2020-05-29-disinformation-strategies.html"
  :link-name "Disinformation Strategies and Tactics"
  :image nil}
 {:title "Bret Victor Publishes &ldquo;What Can a Technologist Do About Climate Change?&rdquo;"
  :geo nil
  :date #time/year-month "2015-11"
  :desc "Midway through <em>What Can a Technologist Do About Climate Change?</em>, Victor opines that public discourse on climate relies on “tips, soundbites, factoids, and emotional rhetoric” rather than “evidence-grounded models.” He suggests a solution for working with and discussing profound problems: better tools for model-driven debate, model-driven reading, and model-driven authoring."
  :footer nil
  :link "/posts/2020-05-18-climate-change.html"
  :link-name "Information's Role in Facing Climate Change"
  :image nil}
 {:title "&ldquo;Fuck the EU.&rdquo; Malinformation Effort"
  :geo nil
  :date #time/date "2014-02-04"
  :desc "An anonymous source posted a conversation between the US Assistant Secretary of State, Victoria Nuland, and the US Ambassador to Ukraine, Geoffrey Pyatt. Amidst all the political banter, one line stood out, &ldquo;Fuck the EU.&rdquo; The leaked audio was a crude effort to sow dissension between the US and its EU allies during a tense moment in Ukraine - a move that would clearly help Russian interests."
  :footer nil
  :link "/posts/2020-05-29-disinformation-strategies.html"
  :link-name "Disinformation Strategies and Tactics"
  :image nil}
 {:title "A classified satellite called PAN is launched into a geostationary orbit."
  :date #time/date "2009-09-08"
  :geo "Cape Canaveral, Florida"
  :desc "&ldquo;PAN is unique among classified American satellites because, while it is discussed by contractors and appears on military launch schedules, it is not publicly 'claimed' by any intelligence or military agency. Space analysts have speculated [...] that PAN may act as a communications relay for armed CIA Predator and Reaper drones operating in Pakistan and Afghanistan.&rdquo;"
  :footer "<a href='https://openlibrary.org/books/OL12338972M/I_Could_Tell_You_but_Then_You_Would_Have_to_Be_Destroyed_by_Me'>I Could Tell You But Then You Would Have to be Destroyed by Me</a>"
  :link "/books/i-could-tell-you-but-then.html"
  :link-name "I Could Tell You But Then You Would Have to be Destroyed by Me"}
 {:title "Amazon Removes Purchased Copies of '1984'"
  :date #time/date "2009-07-17"
  :desc "&ldquo;Justin Gawronski, a 17-year-old from the Detroit area, was reading &lsquo;1984&rsquo; on his Kindle for a summer assignment and lost all his notes and annotations when the file vanished. &lsquo;They didn’t just take a book back, they stole my work,&rsquo; he said.&rdquo;"
  :footer "<a href='https://www.nytimes.com/2009/07/18/technology/companies/18amazon.html'>Amazon Erases Orwell Books From Kindle</a>"
  :link "/posts/2021-12-01-eink.html"
  :link-name "How Ebooks Have Poisoned Electronic Ink"
  :image nil}
 {:title "Facebook Introduces Targeted Ads"
  :geo "New York City, NY, US"
  :date #time/date "2007-11-06"
  :desc "&ldquo;&lsquo;Facebook Ads represent a completely new way of advertising online,&rsquo; Zuckerberg told an audience of more than 250 marketing and advertising executives in New York. &lsquo;For the last hundred years media has been pushed out to people, but now marketers are going to be a part of the conversation. And they’re going to do this by using the social graph in the same way our users do.&rsquo;&rdquo;"
  :footer "<a href='https://about.fb.com/news/2007/11/facebook-unveils-facebook-ads/'>Facebook Unveils Facebook Ads</a>"
  :link "/posts/2021-04-22-id-through-time.html"
  :link-name "An Identity Through Time"
  :image nil}
{:title "Walter Murch Edits &ldquo;Cold Mountain&rdquo; on an Off-the-Shelf Macintosh G4"
  :geo nil
  :date #time/year "2003"
 :desc "<em>Cold Mountain</em> was not the first digitally edited feature film. But the $80 million picture was the first of its size to be cut on Apple's Final Cut Pro and off-the-shelf Power Mac G4s. It was subsequently nominated for seven academy awards including Best Film Editing."
  :link "/posts/2024-01-23-untangling-non-linearity.html"
  :link-name "Untangling Non-Linearity"}
 {:title "The Dot-Com Bubble Peaks"
  :geo "New York City, NY, US"
  :date #time/date "2000-03-10"
  :desc "The Nasdaq index peaked at 5,132.52 on March 10, 2000 - doubling in value over the previous year. By October 10, 2002, the Nasdaq plummeted to 1,108.49."
  :link "/posts/2021-09-07-fix-my-code.html"
  :link-name "Fix My Code"}
 {:title "ArtByte: The Magazine of Digital Arts and Culture"
  :geo "New York City, NY, US"
  :date #time/year-month "1998-04"
  :desc "ArtByte was a glossy magazine dedicated to covering net.art and many other forms of digital art. It was distributed across the United States until it ceased publication in 2001."
  :link "/posts/2021-09-07-fix-my-code.html"
  :link-name "Fix My Code"}
 {:title "Framework for Global Electronic Commerce"
  :geo "Washington D.C., US"
  :date #time/date "1997-07-01"
  :desc "&ldquo;For electronic commerce to flourish, the private sector must continue to lead. Innovation, expanded services, broader participation, and lower prices will arise in a market-driven arena, not in an environment that operates as a regulated industry.&rdquo;"
  :footer "~ <a href='https://clintonwhitehouse4.archives.gov/WH/New/Commerce/read.html'>A Presidental Directive</a> by Bill Clinton"
  :link "/posts/2022-12-05-different-internet.html"
  :link-name "A Different Internet"
  :image nil}
 {:title "The Net Art Generator by Cornelia Sollfrank"
  :date #time/year "1997"
  :desc "&ldquo;A smart artist makes the machine do the work! The net.art generator is a computer program which collects and recombines material from the Internet to create a new website or a new image. The WWW-interface of the easy-to-use program requires the user to enter a title which then functions as the search term, and to enter a name as author. The resulting images and websites are stored online in an archive from where recent results can be downloaded.&rdquo;"
  :footer "<a href='https://net.art-generator.com/about.html'>net.art generator: What it is and where it comes from</a>"
  :link "/posts/2021-09-07-fix-my-code.html"
  :link-name "Fix My Code"
  :image nil}
 {:title "Italian Law Protecting Citizens Regarding the Processing of Personal Data"
  :geo "Rome, Italy"
  :date #time/date "1996-12-31"
  :desc "<a href='https://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/28335'>Article 30</a> establishes The Italian Data Protection Authority. Stefano Rodotà is named the first president. Rodotà believed that privacy protected the dignity of the person - an essential part of a functioning free society."
  :link "/posts/2022-12-05-different-internet.html"
  :link-name "A Different Internet"
  :image nil}
 {:title "A Declaration of the Independence of Cyberspace"
  :geo "Davos, Switzerland"
  :date #time/date "1996-02-08"
  :desc "&ldquo;Governments of the Industrial World, you weary giants of flesh and steel, I come from Cyberspace, the new home of Mind. On behalf of the future, I ask you of the past to leave us alone. You are not welcome among us. You have no sovereignty where we gather.&rdquo;"
  :footer "by John Perry Barlow, hosted at the <a href='https://www.eff.org/cyberspace-independence'>EFF</a>"
  :link nil ;; "/posts/identity-trap.html"
  :link-name nil ;;"The Identity Trap"
  :image nil}
 {:title "Network Solutions Charges for Domain Names"
  :geo nil
  :date #time/year-month "1995-09"
  :desc "NSF allows Network Solutions to begin charging for domain name registration services, which were perviously free for .com, .net, .org, .edu, and .gov top-level domains."
  :footer nil
  :link "/posts/2020-30-11-gallery-404.html"
  :link-name "Gallery 404"
  :image nil}
 {:title "The Identity Politics Biennial"
  :geo "New York City, NY, US"
  :date #time/year "1993"
  :desc "The annual exhibition at the The Whitney Museum of American Art focused explicitly on issues around gender, race, and sexuality for the first time. It was dubbed &ldquo;the identity politics biennial.&rdquo; Identity became a central focus of cultural discourse as internet pioneers promised to emancipate people from their corporeal limitations."
  :footer nil
  :link nil ;; "/posts/identity-trap.html"
  :link-name nil ;; "The Identity Trap"
  :image nil}
 {:title "The Domain Name System is Standarized (RFCs #1034 &amp; #1035)"
  :geo nil
  :date #time/year-month "1987-11"
  :desc "Paul Mockapetris publishes the initial designs for a human-readable Domain Name System that maps network addresses (188.40.28.20) to human-readable names (schmud.de). His design allows the lookup tables required to scale across the entire world."
  :footer "Steve Crocker, 'Today’S Internet Still Relies On An ARPANET-Era Protocol: The Request For Comments', IEEE Spectrum, 2020, https://spectrum.ieee.org/tech-history/cyberspace/todays-internet-still-relies-on-an-arpanetera-protocol-the-request-for-comments."
  :link "/posts/2021-04-22-id-through-time.html"
  :link-name "An Identity Through Time"
  :image nil}
 {:title "Les Immatériaux"
  :geo nil
  :date #time/year-month "1985-03"
  :desc "Les Immatériaux was presented at the Centre Pompidou in Paris. It chronicled many of the confluent developments of media, art, theory, and technology. Christiane Paul suggested that the exhibition &ldquo;argued that the immaterial is matter subjected to interaction and conceptual processes,&rdquo; highlighting the shrinking gap between our lives in cyberspace and the physical space."
  :footer "Christiane Paul <em>From Immateriality to Neomateriality</em> (2015)"
  :link "/posts/2020-10-21-software-preservation-networked-art.html"
  :link-name "Software Preservation in Networked Art"
  :image nil}
 #_{:title "VDT"
  :geo nil
  :date #time/year "1982"
  :desc "Tom Juravich sings about the toll of early data entry jobs, anticipating the rise of bossware and the invisible labor systems that now train LLMs in his song VDT (Video Display Terminal). The song calls for labor rights that would never come to fruition, &ldquo;If you ever spent hours behind a VDT, you'd know that no one needs a union more than me.&rdquo;"
  :footer "Tom Juravich <em>VDT</em>"
  :link "/posts/2025-labor.html"
  :link-name "The Future of Knowledge Work"
  :image nil}
 {:title "Do Artifacts Have Politics?"
  :geo nil
  :date #time/year "1980"
  :desc "&ldquo;It is obvious that technologies can be used in ways that enhance the power, authority, and privilege of some over others, for example, the use of television to sell a candidate. [...] But we usually do not stop to inquire whether a given device might have been designed and built in such a way that it produces a set of consequences logically and temporally prior to any of its professed uses.&rdquo;"
  :footer "Langdon Winner <em>Do Artifacts Have Politics?</em> (1980)"
  :link "/posts/2022-08-23-the-consumer-computer.html"
  :link-name "How the Consumer Computer is Consuming Computing"
  :image nil}
 {:title "Minitel"
  :geo nil
  :date #time/date "1980-07-15"
  :desc "Minitel, a popular public computer network, comes online in France. This network is used to provide online services to the general public."
  :footer nil
  :link "/posts/2020-30-11-gallery-404.html"
  :link-name "Galley 404"
  :image nil}
 {:title "The Finger Protocol (RFCs #742 &amp; #1288)"
  :geo nil
  :date #time/date "1977-12-30"
  :desc "Finger, originally written in 1971, is the granddaddy of status updates. Running <code>finger dschmud@heartland.bradley.edu</code> on TCP port 79 &ldquo;return(ed) a friendly, human-oriented status report on a particular person in depth.&rdquo;"
  :footer "RFC #<a href='https://tools.ietf.org/html/rfc742'>742: NAME/FINGER</a>"
  :link "/posts/2021-04-22-id-through-time.html"
  :link-name "An Identity Through Time"
  :image nil}
 {:title "Radio Shack announces the TRS-80."
  :geo "New York City, NY, US"
  :date #time/date "1977-08-03"
  :desc "The TRS-80 benefited from Radio Shack's tremendous distribution advantage over 1977's other two debuting consumer computers - the Commodore PET 2001 and the Apple II."
  :link "/books/to-catch-mouse-make-noise-like-cheese.html"
  :link-name "To Catch a Mouse Make a Noise Like a Cheese"
  :image nil}
 {:title "The United States Privacy Protection Study Commission Issues Their Report"
  :geo nil
  :date #time/year-month "1977-07"
  :desc "The Privacy Protection Study Commission generated 162 recommendations to help protect citizens against the intrusive nature of digital data collection, storage, and dissemination. They found that the Privacy Act of 1974 &ldquo;had not resulted in the general benefits to the public that either its legislative history or the prevailing opinion as to its accomplishments would lead one to expect.&rdquo; These recommendations were never codified into law."
  :footer "<a href='/papers/personal-privacy-in-an-info-society-1977.pdf'>Personal Privacy In An Information Society: Appendix 3: Employment Records</a>. The full report is <a href='https://epic.org/privacy/ppsc1977report/'>here</a>."
  :link "/posts/2020-06-15-personal-privacy.html"
  :link-name "Personal Privacy"
  :image nil}
 {:title "California Constitutional Right of Privacy Amendment"
  :geo nil
  :date #time/date "1972-08-08"
  :desc "A 1972 amendment to the California Constitution that included the &ldquo;right of privacy among the &lsquo;inalienable&rsquo; rights of all people. The amendment established a legal and enforceable right of privacy for every Californian. Fundamental to this right of privacy is the ability of individuals to control the use, including the sale, of their personal information.&rdquo;"
  :footer "California Legislative Information Website, Assembly Bill No. 375: Legislative Consunsel's Digest: <a href='https://leginfo.legislature.ca.gov/faces/billCompareClient.xhtml?bill_id=201720180AB375&showamends=false'>Today's Law As Amended</a>, 2018."
  :link "/posts/2020-06-15-personal-privacy.html"
  :link-name "Personal Privacy"
  :image nil}
 {:title "The First Ebook is Uploaded"
  :geo "Urbana–Champaign, IL, US"
  :date #time/date "1971-07-04"
  :desc "Michael S. Hart founded Project Gutenberg when he uploaded a copy of the United States Declaration of Independence to the ARPANET. It was the first text of its type to be shared on the fledgling computer network."
  :link "/posts/2021-12-01-eink.html"
  :link-name "How Ebooks Have Poisoned Electronic Ink"}
 {:title "Project Minaret at the National Security Agency"
  :geo nil
  :date #time/year "1969"
  :desc "&ldquo;The project, which became known officially as Minaret in 1969, employed unusual procedures. NSA distributed reports without the usual serialization. They were designed to look like HUMINT reports rather than SIGINT and readers could find no originating agency. Years later the NSA lawyer who first looked at the procedural aspects stated that the people involved seemed to understand that the operation was disreputable if not outright illegal.&rdquo;"
  :footer "Interagency Security Classification Appeals Panel (ISCAP) July 2013 declassification <a href='https://nsarchive2.gwu.edu/NSAEBB/NSAEBB441/'>review by the National Security Archives</a>"
  :link "/posts/2020-06-02-mlk.html"
  :link-name "MLK and &ldquo;Domestic Terrorism&rdquo;"
  :image nil}
 {:title "The ARPANET"
  :geo nil
  :date #time/date "1969-08-30"
  :desc "The ARPANET, an early military computer network, comes online in the United States. The network is used to coordinate information and share computing resources."
  :footer nil
  :link "/posts/2020-30-11-gallery-404.html"
  :link-name "Gallery 404"
  :image nil}
 {:title "RFC #1: Host Software"
  :geo nil
  :date #time/year-month "1969-04"
  :desc "The first two Request For Comments (RFC) describe how computers and routers (knowns as IMPs) would be used to form a computer network (the ARPANET)."
  :footer "Steve Crocker, '<a href='https://spectrum.ieee.org/tech-history/cyberspace/todays-internet-still-relies-on-an-arpanetera-protocol-the-request-for-comments'>Today’s Internet Still Relies On An ARPANET-Era Protocol: The Request For Comments</a>', IEEE Spectrum, 2020."
  :link nil
  :link-name nil
  :image nil}
{:title "Cybernetic Serendipity"
  :geo nil
  :date #time/date "1968-08-02"
  :desc "<a href='http://dada.compart-bremen.de/item/exhibition/3'>Cybernetic Serendipity</a> was an exhibition of electronic, cybernetic, and computer art curated by Jasia Reichardt, shown at the Institute of Contemporary Arts, London, England. It was organized in three sections: 1. Computer generated work, 2. Cybernetic devices-robots and painting machines, 3. Machines demonstrating the use of computers and the history of cybernetics."
  :footer nil
  :link "/posts/2020-10-21-software-preservation-networked-art.html"
  :link-name "Software Preservation in Networked Art"
  :image nil}
 {:title "&ldquo;The Computer As A Communication Device&rdquo;"
  :geo nil
  :date #time/year-month "1968-04"
  :desc "&ldquo;First, life will be happier for the on-line individual because the people with whom one interacts most strongly will be selected more by commonality of interests and goals than by accidents of proximity. Second, communication will be more effective and productive, and therefore more enjoyable. Third, much communication and interaction will be with programs and programmed models [...]. And, fourth, there will be plenty of opportunity for everyone to find his calling, for the whole world of information, with all its fields and disciplines, will be open to him.&rdquo;"
  :footer "J.C.R. Licklider and Robert W. Taylor, 'The Computer As A Communication Device', <em>Science And Technology</em>, April 1968."
  :link "/posts/2020-06-23-internet-community.html"
  :link-name "On the Internet, We Are Either Artists or Bureaucrats"
  :image nil}
 {:title "J.C.R. Licklider Coins the Term &ldquo;Narrowcasting&rdquo;"
  :geo nil
  :date #time/date "1967-01-26"
  :desc "&lsquo;The Carnegie Commission Report on Educational Television [...] proposed interconnecting PBS stations via satellite, and a supplementary paper by MIT professor and Internet visionary J.C.R. Licklider outlined several future scenarios for television including one that foresaw a multiplicity of television networks aimed at serving the needs of smaller, specialized audiences. &ldquo;Here,&rdquo; stated Licklider, &ldquo;I should like to coin the term ‘narrowcasting,’ using it to emphasize the rejection or dissolution of the constraints imposed by commitment to a monolithic mass-appeal, broadcast approach&rdquo;&rsquo;"
  :footer "Patrick Parsons, 'The Evolution Of The Cable-Satellite Distribution System', <em>Journal Of Broadcasting & Electronic Media</em> 47, no. 1 (2003): 1-17, doi:10.1207/s15506878jobem4701_1.<br /> J.C.R. Licklider, 'Televistas: Looking Ahead Through Side Windows', <em>Public Television: A Program For Action</em>, (New York: Carnegie Commission on Educational Television, January 26, 1967) (pp. 201-225), https://current.org/1967/01/carnegie-i/."
  :link "/posts/2021-01-07-truth-storms-the-capitol.html"
  :link-name "Truth Storms the Capitol"
  :image nil}
 #_{:title "All Watched Over by Machines of Loving Grace"
  :geo "Pasadena, California, USA"
  :date #time/year-month "1967-01"
  :desc "Richard Brautigan pens a poem envisioning a future where technology and nature exist in perfect, effortless harmony. Its ambiguous tone—half utopian dream, half warning—captures the early hopes and anxieties of the coming cybernetic age."
  :footer nil
  :link "/posts/2025-labor.html"
  :link-name "The Future of Knowledge Work"
  :image nil}
{:title "Ted Nelson Introduces the Term &ldquo;Hypertext&rdquo;"
  :geo "Cleveland, Ohio, US"
  :date #time/date "1965-08-24"
  :desc "The foundation of today's World Wide Web was introduced to the public in &ldquo;Complex information processing: a file structure for the complex, the changing and the indeterminate.&rdquo; Nelson explains, &ldquo;Let me introduce the word &lsquo;hypertext&rsquo; to mean a body of written or pictorial material interconnected in such a complex way that it could not conveniently be presented or represented on paper.&rdquo; He would continue to refine the concept for several decades."
  :footer "T. H. Nelson. &ldquo;<a href='https://doi.org/10.1145/800197.806036'>Complex information processing: a file structure for the complex, the changing and the indeterminate.</a>&rdquo; <em>In Proceedings of the 1965 20th national conference (ACM '65)</em>. (Association for Computing Machinery, New York, NY, USA, 1965), 84–100."
  :link "/posts/2024-01-23-untangling-non-linearity.html"
  :link-name "Untangling Non-Linearity"
  :image "/img/2024-01-23-untangling-non-linearity/hypertext-linked-lists.png"}
 {:title "The First Message Is Sent Using the Moscow–Washington Hotline"
  :geo "Washington D.C., US"
  :date #time/date "1963-08-30"
  :desc "The first text is sent from the United States to Russia over the Moscow–Washington hotline: &ldquo;THE QUICK BROWN FOX JUMPED OVER THE LAZY DOG'S BACK 1234567890&rdquo;. The June 1963 Hot Line Agreement represents the first time the two nations took action to avert an accidental nuclear war."
  :link "/posts/2022-02-25-info-warfare-without-limits.html"
  :link-name "Information Warfare Is Without Limits and So Are Its Consequences"
  :image nil}
 {:title "David Padwa Co-Founds Basic Systems With Francis Mechner"
  :geo nil
  :date #time/year "1960"
  :desc "&ldquo;Firm specialized in educational and curricular technologies as well as the provision of systems integration services in education and training markets. In 1964 Xerox Corporation acquired Basic Systems; continued as division executive at Xerox and Director of Planning for educational markets.&rdquo;"
  :footer "From David Padwa's <a href='http://www.cuke.com/people/padwa.htm'>Curriculum Vitae</a>"
  :link "/posts/2020-12-16-be-here-now.html"
  :link-name "Be Here Now"
  :image nil}
{:title "Logic Theorist Presented at the Dartmouth Summer Research Project on Artificial Intelligence (AI)"
  :geo "Hanover, New Hampshire, US"
  :date #time/year "1956"
  :desc "Cliff Shaw, along with Allen Newell and Herbert Simon, developed the Information Processing Language (IPL) to implement Logic Theorist, as existing languages lacked the capabilities for solving abstract problems like the mathematical proofs in Whitehead and Russell's <em>Principia Mathematica</em>. A major innovation in IPL was the linked list, a dynamic memory allocation technique crucial for AI and a foundational element in John McCarthy's LISt Processing language (LISP)."
  :link "/posts/2024-01-23-untangling-non-linearity.html"
  :link-name "Untangling Non-Linearity"
  :image nil}
 {:title "George Orwell Publishes &ldquo;Nineteen Eighty-Four&rdquo;"
  :geo nil
  :date #time/date "1949-06-08"
  :desc "&ldquo;The essence of oligarchical rule is not father-to-son inheritance, but the persistence of a certain world-view and a certain way of life, imposed by the dead upon the living.&rdquo;"
  :footer "From &ldquo;Nineteen Eighty-Four&rdquo;, pg 211"
  :link "/books/1984.html"
  :link-name "&ldquo;Nineteen Eighty-Four&rdquo;"
  :image nil}
 {:title "Bombing of the Amsterdam Population Registry"
  :geo "Amsterdam, Netherlands"
  :date #time/date "1943-03-27"
  :desc "Dutch resistance members, including Willem Arondéus, Gerrit van der Veen, and Dr. Frieda Belinfante, orchestrated a bombing of the Amsterdam Population Registry. Their goal was to inhibit the Nazi's ability to track and deport Jews and other targets of terror. The operation managed to destroy over 15% of the records but many of the participants were later captured and executed by the Nazis."
  :footer "Anne Frank House. &ldquo;<a href='https://www.annefrank.org/en/timeline/128/the-resistance-attacks-the-population-register-of-amsterdam/'>The Resistance attacks the population register of Amsterdam</a>.&rdquo; Accessed August 18, 2024."
  :link "/posts/2024-08-18-data-is-a-bad-idea.html"
  :link-name "What If Data Is a Bad Idea?"
  :image nil}  ;;"/img/2024-08-18-data-is-a-bad-idea/amsterdam-registry.jpg"
{:title "Venice Establishes a Baseline For Sea Level Rise"
  :geo "Venice, Italy"
  :date #time/year "1897"
  :desc "&ldquo;The centimetres are calculated from the tidal zero of the Punta della Salute survey station on the Giudecca canal, a point established by convention in 1897 at the mean sea level at the time. Today, the point is always underwater. It cannot be seen, but every Venetian is mentally connected to it.&rdquo;"
  :footer "&ldquo;The Tide Forecast Center of Venice&rdquo; Stefano Liberti (p. 194 of &ldquo;Venice and the Anthropocene&rdquo;)"
  :link "/books/venice-anthropocene.html"
  :link-name "Venice and the Anthropocene"
  :image "/img/book-covers/venice-antropocene-sea-level-1.png"}
 {:title "Bach Writes &ldquo;Herr, gehe nicht ins Gericht mit deinem Knecht&rdquo;"
  :geo nil
  :date #time/year "1723"
  :desc "Musical notation falls short of capturing the composer’s intent, the performer’s performance, and the audience’s experience. However, it is the reason we have access to the music of Bach and Beethoven. Musical scores embody information that has traveled through the centuries, slowly and subtly mutating along the way."
  :footer nil
  :link "/posts/2020-04-26-ambient-church.html"
  :link-name "Notes From the Ambient Church"
  :image "/img/2020-04-26-ambient-church/bwv-105.jpg"}]
